{
  "openapi": "3.0.0",
  "info": {
    "title": "Tu Pana API",
    "description": "API para integración con el sistema Tu Pana - Facturación Electrónica",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tupana.ai/v1",
      "description": "Servidor de producción"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/documents/batch": {
      "post": {
        "summary": "Envío de documentos en lote",
        "description": "Crea hasta 200 documentos en una sola llamada. La respuesta con el PDF y los detalles completos se entrega a través del webhook configurado.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Previene lotes duplicados (≤ 256 caracteres, expira después de 24 h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Use-Defaults",
            "in": "header",
            "description": "Si se establece como 'true', el sistema usará valores por defecto para campos no proporcionados:\n- Fecha actual para date_issued\n- Datos del emisor según configuración de la plataforma o primera actividad/dirección disponible\n- Datos del receptor según configuración del cliente o primera actividad/dirección disponible\n- Payment method = '2' (crédito) en el header del documento",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false"
            }
          }
        ],
        "requestBody": {
          "description": "Lote de documentos a crear",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Documentos creados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "413": {
            "description": "Más de 200 documentos en el array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Cuerpo malformado o fallo de validación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Documentos"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Listar documentos",
        "description": "Obtiene la lista de documentos emitidos o recibidos por una entidad específica. Soporta búsqueda por folio, nombre del receptor y filtros avanzados.",
        "parameters": [
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "folio",
            "in": "query",
            "description": "Número de folio del documento a buscar. Si se proporciona, el sistema devolverá el documento junto con su PDF en formato base64.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issuer_tax_id",
            "in": "query",
            "description": "RUT del emisor para buscar documentos recibidos de un emisor específico (formato: 12345678-9)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Búsqueda de texto libre en folio, nombre del receptor o RUT del receptor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_type",
            "in": "query",
            "description": "Tipo de documentos a listar. 'issued' para documentos emitidos (por defecto), 'received' para documentos recibidos",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["issued", "received"],
              "default": "issued"
            }
          },
          {
            "name": "dte_type__code__in",
            "in": "query",
            "description": "Filtrar por tipos de DTE específicos. Por defecto incluye: 33, 34, 39, 61",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "33",
                "34",
                "39",
                "61"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número de página para paginación",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Cantidad de elementos por página (máximo 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de documentos obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResponse"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos para acceder a esta entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entidad no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/master-entities": {
      "get": {
        "summary": "Buscar entidad por RUT",
        "description": "Busca una entidad maestra específica por su RUT. Requiere autenticación por API Key.",
        "parameters": [
          {
            "name": "rut",
            "in": "query",
            "description": "RUT del cliente a consultar (formato: 76543210-1, sin puntos)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{7,8}-[0-9K]$",
              "example": "76543210-1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entidad encontrada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterEntity"
                }
              }
            }
          },
          "400": {
            "description": "Parámetro 'rut' faltante o formato inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API Key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entidad no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/credentials": {
      "get": {
        "summary": "Listar credenciales",
        "description": "Obtiene todas las activas del usuario autenticado",
        "responses": {
          "200": {
            "description": "Lista de credenciales obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID único de la credencial",
                        "example": 245
                      },
                      "user": {
                        "type": "string",
                        "description": "RUT del usuario de la credencial",
                        "example": "16659618-1"
                      },
                      "credential_type": {
                        "type": "object",
                        "description": "Tipo de credencial",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID del tipo de credencial",
                            "example": 70
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre del tipo de credencial",
                            "example": "SII"
                          }
                        }
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Fecha de creación de la credencial",
                        "example": "2025-08-06T01:24:45.422918Z"
                      },
                      "status": {
                        "type": "string",
                        "description": "Estado de la credencial",
                        "enum": [
                          "VALID",
                          "INVALID",
                          "EXPIRED"
                        ],
                        "example": "VALID"
                      },
                      "master_entities": {
                        "type": "array",
                        "description": "Lista de entidades maestras asociadas a la credencial",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID de la entidad maestra",
                              "example": 4355
                            },
                            "name": {
                              "type": "string",
                              "description": "Nombre de la entidad maestra",
                              "example": "HIDDEN CORE SPA"
                            },
                            "tax_id": {
                              "type": "string",
                              "description": "RUT de la entidad maestra",
                              "example": "78.121.555-4"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin permisos para acceder a credenciales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Crear credencial",
        "description": "Crea una nueva credencial validándola en el SII",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_rut",
                  "password",
                  "digital_certificate_password",
                  "master_entity_id"
                ],
                "properties": {
                  "user_rut": {
                    "type": "string",
                    "description": "RUT del usuario (sin puntos y con guión)",
                    "pattern": "^[0-9]+-[0-9kK]$",
                    "example": "12345678-9"
                  },
                  "password": {
                    "type": "string",
                    "description": "Contraseña del usuario en el SII",
                    "example": "mi_password_segura"
                  },
                  "digital_certificate_password": {
                    "type": "string",
                    "description": "Contraseña del certificado digital",
                    "example": "mi_password_certificado"
                  },
                  "master_entity_id": {
                    "type": "integer",
                    "description": "ID de la entidad maestra a la que pertenece la credencial",
                    "example": 123
                  },
                  "credential_type_id": {
                    "type": "integer",
                    "description": "ID del tipo de credencial (opcional, por defecto SII)",
                    "example": 70
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credencial creada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID único de la credencial creada",
                      "example": 1
                    },
                    "user": {
                      "type": "string",
                      "description": "RUT del usuario de la credencial",
                      "example": "12345678-9"
                    },
                    "master_entity": {
                      "type": "object",
                      "description": "Información de la entidad maestra asociada",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID de la entidad maestra",
                          "example": 123
                        },
                        "name": {
                          "type": "string",
                          "description": "Nombre de la entidad maestra",
                          "example": "Empresa Ejemplo SpA"
                        },
                        "tax_id": {
                          "type": "string",
                          "description": "RUT de la entidad maestra",
                          "example": "76543210-1"
                        }
                      }
                    },
                    "credential_type": {
                      "type": "object",
                      "description": "Tipo de credencial",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID del tipo de credencial",
                          "example": 70
                        },
                        "name": {
                          "type": "string",
                          "description": "Nombre del tipo de credencial",
                          "example": "SII"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Estado de la credencial",
                      "enum": [
                        "VALID",
                        "INVALID",
                        "EXPIRED"
                      ],
                      "example": "VALID"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Fecha de creación de la credencial",
                      "example": "2024-01-01T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en la validación de datos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin permisos para crear credenciales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entidad maestra no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error de validación en el SII",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scheduled-documents": {
      "get": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Listar documentos programados",
        "description": "Obtiene una lista paginada de documentos programados de una entidad específica. Los documentos programados son plantillas que se ejecutan automáticamente según una frecuencia definida.",
        "parameters": [
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por estado del documento programado",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "completed"],
              "example": "active"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "Filtrar por frecuencia de ejecución",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["daily", "weekly", "monthly", "quarterly"],
              "example": "monthly"
            }
          },
          {
            "name": "dte_type",
            "in": "query",
            "description": "Filtrar por tipo de DTE",
            "required": false,
            "schema": {
              "type": "string",
              "example": "33"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número de página para paginación",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Número de elementos por página",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de documentos programados obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledDocumentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Crear documento programado",
        "description": "Crea un nuevo documento programado que se ejecutará automáticamente según la frecuencia especificada.",
        "parameters": [
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra emisora",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "Datos del documento programado a crear",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledDocumentCreate"
              },
              "example": {
                "dte_type": "33",
                "receiver_tax_id": "76111111-1",
                "receiver_business_name": "Cliente ABC SPA",
                "frequency": "monthly",
                "day_of_month": 10,
                "amount": 150000,
                "currency": "CLP",
                "details": [
                  {
                    "product_name": "Servicio mensual",
                    "description": "Asistencia contable",
                    "quantity": 1,
                    "unit_price": 150000
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Documento programado creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledDocument"
                },
                "example": {
                  "id": 987,
                  "dte_type": "33",
                  "frequency": "monthly",
                  "day_of_month": 10,
                  "status": "active",
                  "amount": 150000,
                  "currency": "CLP",
                  "next_execution": "2024-03-10T10:00:00Z",
                  "details": [
                    {
                      "id": 1,
                      "product_name": "Servicio mensual",
                      "quantity": 1,
                      "unit_price": 150000,
                      "total": 150000
                    }
                  ],
                  "created_at": "2024-02-05T12:15:00Z",
                  "updated_at": "2024-02-05T12:15:00Z"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error de validación en el SII",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scheduled-documents/{id}": {
      "get": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Obtener documento programado",
        "description": "Obtiene los detalles de un documento programado específico.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento programado",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 789
            }
          },
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documento programado obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledDocument"
                }
              }
            }
          },
          "404": {
            "description": "Documento programado no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Actualizar documento programado",
        "description": "Actualiza parcialmente un documento programado existente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento programado",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 789
            }
          },
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "Campos a actualizar del documento programado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledDocumentUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Documento programado actualizado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledDocument"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Documento programado no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Eliminar documento programado",
        "description": "Elimina un documento programado existente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento programado",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 789
            }
          },
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documento programado eliminado exitosamente"
          },
          "404": {
            "description": "Documento programado no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentBatch": {
        "type": "object",
        "required": [
          "documents"
        ],
        "properties": {
          "documents": {
            "type": "array",
            "description": "Array de documentos a crear (máximo 200)",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        }
      },
      "Document": {
        "type": "object",
        "required": [
          "dte_type",
          "document_issuer",
          "document_receiver",
          "details"
        ],
        "properties": {
          "date_issued": {
            "type": "string",
            "format": "date",
            "description": "Fecha de emisión (YYYY-MM-DD). Si X-Use-Defaults es true y no se proporciona, se usa la fecha actual."
          },
          "folio": {
            "type": "string",
            "description": "Folio del documento. Si X-Use-Defaults es true y no se proporciona, se genera automáticamente."
          },
          "dte_type": {
            "$ref": "#/components/schemas/DteType"
          },
          "document_issuer": {
            "$ref": "#/components/schemas/DocumentIssuer"
          },
          "document_receiver": {
            "$ref": "#/components/schemas/DocumentReceiver"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetailItem"
            }
          },
          "header": {
            "$ref": "#/components/schemas/DocumentHeader"
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferenceItem"
            }
          },
          "json_param": {
            "type": "object",
            "description": "JSON arbitrario almacenado textualmente"
          },
          "export_data": {
            "$ref": "#/components/schemas/ExportData"
          }
        }
      },
      "DteType": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Código del tipo de documento:\n- 33: Factura Electrónica\n- 34: Factura Exenta Electrónica\n- 39: Boleta Electrónica\n- 46: Factura de Compra Electrónica\n- 61: Nota de Crédito Electrónica\n- 80: Boleta de Honorarios Electrónica\n- 110: Factura de Exportación Electrónica",
            "enum": [
              "33",
              "34",
              "39",
              "46",
              "61",
              "80",
              "110"
            ]
          }
        }
      },
      "DocumentHeader": {
        "type": "object",
        "properties": {
          "purchase_transaction_type": {
            "type": "integer",
            "description": "Tipo de transacción de compra"
          },
          "sale_transaction_type": {
            "type": "integer",
            "description": "Tipo de transacción de venta"
          },
          "payment_method": {
            "type": "string",
            "description": "Método de pago"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de vencimiento"
          },
          "vat_withheld": {
            "type": "boolean",
            "description": "Indica si el IVA está retenido. Solo aplicable para facturas de compra (DTE 46) y notas de crédito que referencian facturas de compra.",
            "example": false
          },
          "retention_type": {
            "type": "string",
            "description": "Tipo de retención obligatorio para boletas de honorarios (DTE 80). Define quién retiene el 14,5% legal.",
            "enum": [
              "RETRECEPTOR",
              "RETCONTRIBUYENTE"
            ],
            "example": "RETRECEPTOR"
          }
        }
      },
      "DocumentIssuer": {
        "type": "object",
        "required": [
          "rut"
        ],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT sin puntos y con guion, ej: 76543210-K. Si X-Use-Defaults es true, los demás campos se rellenarán automáticamente según la configuración.",
            "pattern": "^[0-9]{7,8}-[0-9K]$"
          },
          "business_name": {
            "type": "string",
            "description": "Razón social"
          },
          "phone_number": {
            "type": "string",
            "description": "Número de teléfono"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico"
          },
          "business_activity": {
            "type": "string",
            "description": "Giro comercial"
          },
          "activity_code": {
            "type": "integer",
            "description": "Código de actividad económica"
          },
          "sii_branch_code": {
            "type": "string",
            "description": "Código de sucursal SII"
          },
          "address": {
            "type": "string",
            "description": "Dirección"
          },
          "district": {
            "type": "string",
            "description": "Comuna"
          },
          "city": {
            "type": "string",
            "description": "Ciudad"
          }
        }
      },
      "DocumentReceiver": {
        "type": "object",
        "required": [
          "rut"
        ],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT sin puntos y con guion, ej: 76543210-K. Si X-Use-Defaults es true, los demás campos se rellenarán automáticamente según la configuración.",
            "pattern": "^[0-9]{7,8}-[0-9K]$"
          },
          "business_name": {
            "type": "string",
            "description": "Razón social"
          },
          "contact": {
            "type": "string",
            "description": "Contacto"
          },
          "business_activity": {
            "type": "string",
            "description": "Giro comercial"
          },
          "address": {
            "type": "string",
            "description": "Dirección"
          },
          "district": {
            "type": "string",
            "description": "Comuna"
          },
          "city": {
            "type": "string",
            "description": "Ciudad"
          }
        }
      },
      "DetailItem": {
        "type": "object",
        "required": [
          "item_name",
          "quantity",
          "unit_price"
        ],
        "properties": {
          "item_name": {
            "type": "string",
            "description": "Nombre del ítem"
          },
          "quantity": {
            "type": "number",
            "description": "Cantidad"
          },
          "unit_price": {
            "type": "number",
            "format": "float",
            "description": "Precio unitario"
          },
          "line_number": {
            "type": "integer",
            "description": "Número de línea"
          },
          "item_description": {
            "type": "string",
            "description": "Descripción del ítem"
          },
          "discount_percent": {
            "type": "number",
            "format": "float",
            "description": "Porcentaje de descuento"
          },
          "item_total": {
            "type": "number",
            "format": "float",
            "description": "Total del ítem"
          },
          "item_code": {
            "type": "string",
            "description": "Código del ítem"
          },
          "unit": {
            "type": "string",
            "description": "Unidad de medida"
          },
          "other_tax": {
            "type": "number",
            "format": "float",
            "description": "Otros impuestos"
          },
          "item_type_code": {
            "type": "integer",
            "description": "Código de tipo de ítem"
          }
        }
      },
      "ReferenceItem": {
        "type": "object",
        "properties": {
          "reference_type": {
            "type": "integer",
            "description": "Tipo de referencia"
          },
          "reference_folio": {
            "type": "integer",
            "description": "Folio de referencia"
          },
          "reference_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de referencia"
          },
          "reference_reason": {
            "type": "string",
            "description": "Razón de referencia. Para notas de crédito totales debe ser 'ANULA DOCUMENTO DE LA REFERENCIA'.",
            "example": "ANULA DOCUMENTO DE LA REFERENCIA"
          },
          "dte_type_code": {
            "type": "string",
            "description": "Código de tipo de DTE referenciado"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del lote"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Índice del documento en el array original"
                },
                "document_id": {
                  "type": "integer",
                  "description": "ID del documento creado"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "created",
                    "invalid"
                  ],
                  "description": "Estado de la creación del documento"
                },
                "errors": {
                  "type": "object",
                  "description": "Errores de validación si el estado es 'invalid'"
                }
              }
            }
          }
        }
      },
      "DocumentListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Número total de documentos"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL de la siguiente página"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL de la página anterior"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          }
        }
      },
      "DocumentDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único del documento"
          },
          "folio": {
            "type": "string",
            "description": "Número de folio del documento"
          },
          "date_issued": {
            "type": "string",
            "format": "date",
            "description": "Fecha de emisión del documento"
          },
          "amount_with_iva": {
            "type": "number",
            "format": "float",
            "description": "Monto total con IVA"
          },
          "dte_type": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Código del tipo de DTE"
              },
              "description": {
                "type": "string",
                "description": "Descripción del tipo de DTE"
              }
            }
          },
          "sender": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID de la entidad emisora"
              },
              "name": {
                "type": "string",
                "description": "Nombre de la entidad emisora"
              },
              "tax_id": {
                "type": "string",
                "description": "RUT de la entidad emisora"
              }
            }
          },
          "receiver": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID de la entidad receptora"
              },
              "name": {
                "type": "string",
                "description": "Nombre de la entidad receptora"
              },
              "tax_id": {
                "type": "string",
                "description": "RUT de la entidad receptora"
              }
            }
          },
          "pdf_base64": {
            "type": "string",
            "nullable": true,
            "description": "PDF en formato base64. Solo se incluye cuando se busca por folio específico."
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error"
          },
          "message": {
            "type": "string",
            "description": "Mensaje de error"
          }
        }
      },
      "MasterEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único de la entidad maestra",
            "example": 371
          },
          "tax_id": {
            "type": "string",
            "description": "RUT de la entidad maestra",
            "example": "76.798.398-0"
          },
          "name": {
            "type": "string",
            "description": "Razón social de la entidad",
            "example": "SUPLO SPA"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico de contacto",
            "nullable": true,
            "example": null
          },
          "addresses": {
            "type": "array",
            "description": "Lista de direcciones de la entidad",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "ID único de la dirección",
                  "example": 6
                },
                "address": {
                  "type": "string",
                  "description": "Dirección completa",
                  "example": "AV TAJAMAR 183 OF 401   OFIC"
                },
                "district": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID único de la comuna",
                      "example": 7
                    },
                    "name": {
                      "type": "string",
                      "description": "Nombre de la comuna",
                      "example": "LAS CONDES"
                    },
                    "city": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID único de la ciudad",
                          "example": 3
                        },
                        "name": {
                          "type": "string",
                          "description": "Nombre de la ciudad",
                          "example": "SANTIAGO"
                        }
                      }
                    }
                  }
                },
                "sii_branch_code": {
                  "type": "string",
                  "description": "Código de sucursal SII",
                  "nullable": true,
                  "example": null
                },
                "phone": {
                  "type": "string",
                  "description": "Teléfono de la sucursal",
                  "nullable": true,
                  "example": null
                }
              }
            }
          },
          "activities": {
            "type": "array",
            "description": "Lista de actividades económicas de la entidad",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "ID único de la actividad",
                  "example": 1
                },
                "code": {
                  "type": "string",
                  "description": "Código de actividad económica",
                  "example": "620900"
                },
                "name": {
                  "type": "string",
                  "description": "Nombre de la actividad económica",
                  "example": "OTRAS ACTIVIDADES DE TECNOLOGIA DE LA IN"
                }
              }
            }
          }
        }
      },
      "ScheduledDocumentListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total de documentos programados",
            "example": 25
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL de la siguiente página",
            "example": "https://api.tupana.ai/v1/scheduled-documents?master_entity_id=123&page=2"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL de la página anterior",
            "example": null
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduledDocument"
            }
          }
        }
      },
      "ScheduledDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único del documento programado",
            "example": 789
          },
          "sender": {
            "type": "object",
            "description": "Información de la entidad emisora",
            "properties": {
              "id": {
                "type": "integer",
                "example": 123
              },
              "name": {
                "type": "string",
                "example": "Empresa Ejemplo SpA"
              },
              "rut": {
                "type": "string",
                "example": "76543210-1"
              }
            }
          },
          "receiver": {
            "type": "object",
            "nullable": true,
            "description": "Información de la entidad receptora",
            "properties": {
              "id": {
                "type": "integer",
                "example": 456
              },
              "name": {
                "type": "string",
                "example": "Cliente ABC Ltda"
              },
              "rut": {
                "type": "string",
                "example": "12345678-9"
              }
            }
          },
          "dte_type": {
            "type": "object",
            "description": "Tipo de documento tributario",
            "properties": {
              "id": {
                "type": "integer",
                "example": 1
              },
              "code": {
                "type": "string",
                "example": "33"
              },
              "description": {
                "type": "string",
                "example": "Factura Electrónica"
              }
            }
          },
          "frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly", "quarterly"],
            "description": "Frecuencia de ejecución",
            "example": "monthly"
          },
          "frequency_display": {
            "type": "string",
            "description": "Frecuencia en formato legible",
            "example": "Mensual"
          },
          "day_of_month": {
            "type": "integer",
            "nullable": true,
            "description": "Día del mes para ejecución (1-31)",
            "example": 15
          },
          "day_of_week": {
            "type": "integer",
            "nullable": true,
            "description": "Día de la semana para ejecución (0=Lunes, 6=Domingo)",
            "example": null
          },
          "next_execution": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora de la próxima ejecución",
            "example": "2024-02-15T10:00:00Z"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "completed"],
            "description": "Estado del documento programado",
            "example": "active"
          },
          "status_display": {
            "type": "string",
            "description": "Estado en formato legible",
            "example": "Activo"
          },
          "amount": {
            "type": "number",
            "description": "Monto del documento",
            "example": 100000
          },
          "currency": {
            "type": "string",
            "description": "Moneda del documento",
            "example": "CLP"
          },
          "completed_occurrences": {
            "type": "integer",
            "description": "Número de veces que se ha ejecutado",
            "example": 5
          },
          "max_occurrences": {
            "type": "integer",
            "nullable": true,
            "description": "Número máximo de ejecuciones",
            "example": null
          },
          "details": {
            "type": "array",
            "description": "Detalles/productos del documento",
            "items": {
              "$ref": "#/components/schemas/ScheduledDocumentDetail"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación",
            "example": "2024-01-15T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de última actualización",
            "example": "2024-01-20T15:30:00Z"
          }
        }
      },
      "ScheduledDocumentCreate": {
        "type": "object",
        "required": ["dte_type", "frequency", "amount", "details"],
        "properties": {
          "dte_type": {
            "type": "string",
            "description": "Código del tipo de DTE (ej: '33' para Factura Electrónica)",
            "example": "33"
          },
          "receiver": {
            "type": "integer",
            "description": "ID de la entidad receptora (opcional para algunos tipos de DTE)",
            "example": 456
          },
          "receiver_tax_id": {
            "type": "string",
            "description": "RUT del receptor para crear cliente automáticamente",
            "example": "12345678-9"
          },
          "receiver_business_name": {
            "type": "string",
            "description": "Razón social del receptor",
            "example": "Cliente ABC Ltda"
          },
          "frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly", "quarterly"],
            "description": "Frecuencia de ejecución",
            "example": "monthly"
          },
          "day_of_month": {
            "type": "integer",
            "description": "Día del mes para ejecución (1-31, requerido para frecuencia mensual/trimestral)",
            "minimum": 1,
            "maximum": 31,
            "example": 15
          },
          "day_of_week": {
            "type": "integer",
            "description": "Día de la semana para ejecución (0=Lunes, 6=Domingo, requerido para frecuencia semanal)",
            "minimum": 0,
            "maximum": 6,
            "example": 1
          },
          "amount": {
            "type": "number",
            "description": "Monto total del documento",
            "minimum": 0,
            "example": 100000
          },
          "currency": {
            "type": "string",
            "description": "Moneda del documento",
            "enum": ["CLP", "UF", "USD", "EUR"],
            "default": "CLP",
            "example": "CLP"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive"],
            "description": "Estado inicial del documento programado",
            "default": "active",
            "example": "active"
          },
          "max_occurrences": {
            "type": "integer",
            "description": "Número máximo de ejecuciones (opcional, null = infinito)",
            "minimum": 1,
            "example": 12
          },
          "details": {
            "type": "array",
            "description": "Detalles/productos del documento",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ScheduledDocumentDetailCreate"
            }
          }
        }
      },
      "ScheduledDocumentUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["active", "inactive"],
            "description": "Estado del documento programado",
            "example": "inactive"
          },
          "amount": {
            "type": "number",
            "description": "Monto total del documento",
            "minimum": 0,
            "example": 120000
          },
          "frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly", "quarterly"],
            "description": "Frecuencia de ejecución",
            "example": "weekly"
          },
          "day_of_month": {
            "type": "integer",
            "description": "Día del mes para ejecución (1-31)",
            "minimum": 1,
            "maximum": 31,
            "example": 20
          },
          "day_of_week": {
            "type": "integer",
            "description": "Día de la semana para ejecución (0=Lunes, 6=Domingo)",
            "minimum": 0,
            "maximum": 6,
            "example": 2
          },
          "max_occurrences": {
            "type": "integer",
            "nullable": true,
            "description": "Número máximo de ejecuciones",
            "minimum": 1,
            "example": 24
          }
        }
      },
      "ScheduledDocumentDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único del detalle",
            "example": 1
          },
          "product_name": {
            "type": "string",
            "description": "Nombre del producto o servicio",
            "example": "Servicio mensual de consultoría"
          },
          "description": {
            "type": "string",
            "description": "Descripción detallada",
            "example": "Consultoría especializada en tecnología"
          },
          "quantity": {
            "type": "number",
            "description": "Cantidad",
            "example": 1
          },
          "unit_price": {
            "type": "number",
            "description": "Precio unitario",
            "example": 100000
          },
          "total": {
            "type": "number",
            "description": "Total de la línea",
            "example": 100000
          },
          "unit_of_measurement": {
            "type": "string",
            "description": "Unidad de medida",
            "example": "UN"
          }
        }
      },
      "ExportData": {
        "type": "object",
        "description": "Datos específicos para facturas de exportación (DTE 110) y notas de crédito de exportación (DTE 112). Solo requerido cuando se selecciona uno de estos tipos de documento.",
        "properties": {
          "tax_id_receptor": {
            "type": "string",
            "description": "Identificación tributaria del receptor en el país de destino"
          },
          "destination_country_code": {
            "type": "string",
            "description": "Código del país de destino (ISO 3166-1 alpha-2)",
            "example": "US"
          },
          "currency_code": {
            "type": "string",
            "description": "Código de la moneda (ISO 4217)",
            "example": "USD"
          },
          "exchange_rate": {
            "type": "string",
            "description": "Tipo de cambio aplicado",
            "example": "800.50"
          },
          "departure_port_code": {
            "type": "string",
            "description": "Código del puerto de embarque"
          },
          "arrival_port_code": {
            "type": "string",
            "description": "Código del puerto de desembarque"
          },
          "departure_port_name": {
            "type": "string",
            "description": "Nombre del puerto de embarque"
          },
          "arrival_port_name": {
            "type": "string",
            "description": "Nombre del puerto de desembarque"
          },
          "total_packages": {
            "type": "string",
            "description": "Número total de bultos"
          },
          "sale_mode_code": {
            "type": "string",
            "description": "Código de modalidad de venta"
          },
          "export_type": {
            "type": "string",
            "description": "Tipo de exportación",
            "default": "0"
          }
        }
      },
      "ScheduledDocumentDetailCreate": {
        "type": "object",
        "required": ["product_name", "quantity", "unit_price"],
        "properties": {
          "product_name": {
            "type": "string",
            "description": "Nombre del producto o servicio",
            "example": "Servicio mensual de consultoría"
          },
          "description": {
            "type": "string",
            "description": "Descripción detallada",
            "example": "Consultoría especializada en tecnología"
          },
          "quantity": {
            "type": "number",
            "description": "Cantidad",
            "minimum": 0.01,
            "example": 1
          },
          "unit_price": {
            "type": "number",
            "description": "Precio unitario",
            "minimum": 0,
            "example": 100000
          },
          "unit_of_measurement": {
            "type": "string",
            "description": "Unidad de medida",
            "default": "UN",
            "example": "UN"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key para autenticación. Debe proporcionarse en el formato: 'Api-Key YOUR-API-KEY'"
      }
    }
  }
}