{
  "openapi": "3.1.0",
  "info": {
    "title": "Tu Pana API",
    "description": "API para la gestión de documentos y facturación electrónica.\n\nTipos de DTE soportados:\n- 33: Factura Electrónica\n- 34: Factura Exenta Electrónica\n- 39: Boleta Electrónica\n- 61: Nota de Crédito Electrónica",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tupana.ai/v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/batch/": {
      "post": {
        "description": "Crea hasta 200 documentos en una sola llamada",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Previene lotes duplicados (≤ 256 caracteres, expira después de 24 h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Lote de documentos a crear",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Documentos creados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "413": {
            "description": "Más de 100 documentos en el array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Cuerpo malformado o fallo de validación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "DocumentBatch": {
        "type": "object",
        "required": [
          "documents"
        ],
        "properties": {
          "documents": {
            "type": "array",
            "description": "Array de documentos a crear (máximo 100)",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        }
      },
      "Document": {
        "type": "object",
        "required": [
          "date_issued",
          "dte_type",
          "document_issuer",
          "document_receiver",
          "details"
        ],
        "properties": {
          "date_issued": {
            "type": "string",
            "format": "date",
            "description": "Fecha de emisión (YYYY-MM-DD)"
          },
          "dte_type": {
            "$ref": "#/components/schemas/DteType"
          },
          "document_issuer": {
            "$ref": "#/components/schemas/DocumentIssuer"
          },
          "document_receiver": {
            "$ref": "#/components/schemas/DocumentReceiver"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetailItem"
            }
          },
          "header": {
            "$ref": "#/components/schemas/DocumentHeader"
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferenceItem"
            }
          },
          "json_param": {
            "type": "object",
            "description": "JSON arbitrario almacenado textualmente"
          }
        }
      },
      "DteType": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Código del tipo de documento:\n- 33: Factura Electrónica\n- 34: Factura Exenta Electrónica\n- 39: Boleta Electrónica\n- 61: Nota de Crédito Electrónica",
            "enum": [
              "33",
              "34",
              "39",
              "61"
            ]
          }
        }
      },
      "DocumentHeader": {
        "type": "object",
        "properties": {
          "purchase_transaction_type": {
            "type": "integer",
            "description": "Tipo de transacción de compra"
          },
          "sale_transaction_type": {
            "type": "integer",
            "description": "Tipo de transacción de venta"
          },
          "payment_method": {
            "type": "string",
            "description": "Método de pago"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de vencimiento"
          }
        }
      },
      "DocumentIssuer": {
        "type": "object",
        "required": [
          "rut"
        ],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT con formato, ej: 76.543.210-K"
          },
          "business_name": {
            "type": "string",
            "description": "Razón social"
          },
          "phone_number": {
            "type": "string",
            "description": "Número de teléfono"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico"
          },
          "business_activity": {
            "type": "string",
            "description": "Giro comercial"
          },
          "activity_code": {
            "type": "integer",
            "description": "Código de actividad económica"
          },
          "sii_branch_code": {
            "type": "string",
            "description": "Código de sucursal SII"
          },
          "address": {
            "type": "string",
            "description": "Dirección"
          },
          "district": {
            "type": "string",
            "description": "Comuna"
          },
          "city": {
            "type": "string",
            "description": "Ciudad"
          }
        }
      },
      "DocumentReceiver": {
        "type": "object",
        "required": [
          "rut"
        ],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT con formato, ej: 76.543.210-K"
          },
          "business_name": {
            "type": "string",
            "description": "Razón social"
          },
          "contact": {
            "type": "string",
            "description": "Contacto"
          },
          "business_activity": {
            "type": "string",
            "description": "Giro comercial"
          },
          "address": {
            "type": "string",
            "description": "Dirección"
          },
          "district": {
            "type": "string",
            "description": "Comuna"
          },
          "city": {
            "type": "string",
            "description": "Ciudad"
          }
        }
      },
      "DetailItem": {
        "type": "object",
        "required": [
          "item_name",
          "quantity",
          "unit_price"
        ],
        "properties": {
          "item_name": {
            "type": "string",
            "description": "Nombre del ítem"
          },
          "quantity": {
            "type": "number",
            "description": "Cantidad"
          },
          "unit_price": {
            "type": "number",
            "format": "float",
            "description": "Precio unitario"
          },
          "line_number": {
            "type": "integer",
            "description": "Número de línea"
          },
          "item_description": {
            "type": "string",
            "description": "Descripción del ítem"
          },
          "discount_percent": {
            "type": "number",
            "format": "float",
            "description": "Porcentaje de descuento"
          },
          "item_total": {
            "type": "number",
            "format": "float",
            "description": "Total del ítem"
          },
          "item_code": {
            "type": "string",
            "description": "Código del ítem"
          },
          "unit": {
            "type": "string",
            "description": "Unidad de medida"
          },
          "other_tax": {
            "type": "number",
            "format": "float",
            "description": "Otros impuestos"
          },
          "item_type_code": {
            "type": "integer",
            "description": "Código de tipo de ítem"
          }
        }
      },
      "ReferenceItem": {
        "type": "object",
        "properties": {
          "reference_type": {
            "type": "integer",
            "description": "Tipo de referencia"
          },
          "reference_folio": {
            "type": "integer",
            "description": "Folio de referencia"
          },
          "reference_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de referencia"
          },
          "reference_reason": {
            "type": "string",
            "description": "Razón de referencia"
          },
          "dte_type_code": {
            "type": "string",
            "description": "Código de tipo de DTE referenciado"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del lote"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Índice del documento en el array original"
                },
                "document_id": {
                  "type": "integer",
                  "description": "ID del documento creado"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "created",
                    "invalid"
                  ],
                  "description": "Estado de la creación del documento"
                },
                "errors": {
                  "type": "object",
                  "description": "Errores de validación si el estado es 'invalid'"
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error"
          },
          "message": {
            "type": "string",
            "description": "Mensaje de error"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key para autenticación. Debe proporcionarse en el formato: 'Api-Key YOUR-API-KEY'"
      }
    }
  }
}