{
  "openapi": "3.0.0",
  "info": {
    "title": "Tu Pana API - Recaudación",
    "description": "API de Cobros — Crea sesiones de pago, procesa cobros y emite DTE automáticamente.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tupana.ai",
      "description": "Servidor de producción"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/payment-requests/": {
      "post": {
        "operationId": "createPaymentRequest",
        "tags": ["Cobros"],
        "summary": "Crear sesión de cobro",
        "description": "Crea una sesión de cobro y retorna la URL de pago a la que debes redirigir al usuario. Si se envía un `external_id` que ya existe para tu API key, retorna la sesión original con HTTP 200 (idempotencia).",
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequestCreate"
              },
              "example": {
                "amount": 50000,
                "currency": "CLP",
                "recipient_id": 789,
                "redirect_url": "https://tuapp.com/confirmation",
                "target_dte_type": 39,
                "dte_recipient": {
                  "rut": "11111111-1",
                  "name": "Juan Soto",
                  "email": "juan@ejemplo.com"
                },
                "items": [
                  {
                    "description": "Sesión de psicoterapia",
                    "quantity": 1,
                    "unit_price": 50000
                  }
                ],
                "expires_in_minutes": 30,
                "skip_portal": false,
                "auto_issue": true,
                "external_id": "booking_abc123",
                "metadata": {
                  "patient_name": "Juan Soto",
                  "appointment_start_time": "2026-04-15T10:00:00-04:00"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sesión de cobro creada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestResponse"
                },
                "example": {
                  "payment_request_id": 1042,
                  "status": "pending",
                  "payment_url": "https://www.tupana.ai/pagos/tok_xyz",
                  "expires_at": "2026-04-06T12:30:00Z",
                  "created_at": "2026-04-06T12:00:00Z",
                  "amount": 50000,
                  "target_dte_type": "39",
                  "auto_issue": true,
                  "external_id": "booking_abc123",
                  "metadata": {}
                }
              }
            }
          },
          "200": {
            "description": "Sesión existente retornada (idempotencia por `external_id`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros inválidos",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "recipient_not_found": {
                    "value": {
                      "error_code": "RECIPIENT_NOT_FOUND",
                      "message": "Recipient with id 789 not found."
                    }
                  },
                  "missing_banking_info": {
                    "value": {
                      "error_code": "RECIPIENT_MISSING_BANKING_INFO",
                      "message": "Recipient does not have a registered bank account."
                    }
                  },
                  "invalid_dte_type": {
                    "value": {
                      "error_code": "INVALID_TARGET_DTE_TYPE",
                      "message": "target_dte_type must be one of [33, 39, 41]."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "API key inválida o no proporcionada"
          }
        }
      },
      "get": {
        "operationId": "listPaymentRequests",
        "tags": ["Cobros"],
        "summary": "Listar cobros",
        "description": "Retorna todas las sesiones de cobro creadas por el cliente API autenticado, ordenadas por fecha de creación descendente. Soporta filtro por estado.",
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por estado de la sesión.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["pending", "paid", "failed", "expired", "refunded"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de cobros obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentRequestListResponse" },
                "example": {
                  "results": [
                    {
                      "payment_request_id": 1042,
                      "status": "paid",
                      "payment_url": "https://www.tupana.ai/pagos/tok_xyz",
                      "expires_at": "2026-04-06T12:30:00Z",
                      "created_at": "2026-04-06T12:00:00Z",
                      "amount": 50000,
                      "target_dte_type": "39",
                      "auto_issue": true,
                      "external_id": "booking_abc123",
                      "metadata": {}
                    }
                  ]
                }
              }
            }
          },
          "401": { "description": "API key inválida o no proporcionada" }
        }
      }
    },
    "/api/payment-requests/{payment_request_id}/": {
      "get": {
        "operationId": "getPaymentRequest",
        "tags": ["Cobros"],
        "summary": "Consultar estado de un cobro",
        "description": "Retorna el estado actual y los detalles de una sesión de cobro. Útil como fallback cuando el webhook aún no llegó pero el usuario ya regresó por redirect.",
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "payment_request_id",
            "in": "path",
            "required": true,
            "description": "ID numérico de la sesión de cobro.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de la sesión de cobro",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentRequestResponse" },
                "example": {
                  "payment_request_id": 1042,
                  "status": "paid",
                  "payment_url": "https://www.tupana.ai/pagos/tok_xyz",
                  "expires_at": "2026-04-06T12:30:00Z",
                  "created_at": "2026-04-06T12:00:00Z",
                  "amount": 50000,
                  "target_dte_type": "39",
                  "auto_issue": true,
                  "external_id": "booking_abc123",
                  "metadata": {}
                }
              }
            }
          },
          "401": { "description": "API key inválida o no proporcionada" },
          "404": {
            "description": "Sesión no encontrada o no pertenece a tu API key"
          }
        }
      }
    },
    "/api/payment-requests/{payment_request_id}/issue/": {
      "post": {
        "operationId": "issuePaymentRequestDocument",
        "tags": ["Cobros"],
        "summary": "Emitir DTE manualmente",
        "description": "Emite el DTE del tipo indicado en `target_dte_type` para una sesión de cobro ya pagada. Solo disponible cuando `auto_issue` fue `false` al crear la sesión, o cuando el DTE aún no fue emitido.",
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "payment_request_id",
            "in": "path",
            "required": true,
            "description": "ID numérico de la sesión de cobro.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "DTE emitido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issued_document_id": {
                      "type": "integer",
                      "description": "ID del DTE emitido.",
                      "example": 9871
                    }
                  }
                },
                "example": {
                  "issued_document_id": 9871
                }
              }
            }
          },
          "400": {
            "description": "No se puede emitir el DTE",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "already_issued": {
                    "value": {
                      "error_code": "ALREADY_ISSUED",
                      "message": "Document has already been issued."
                    }
                  },
                  "not_paid": {
                    "value": {
                      "error_code": "NOT_PAID",
                      "message": "Payment request has not been paid yet."
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "API key inválida o no proporcionada" },
          "404": { "description": "Sesión no encontrada o no pertenece a tu API key" }
        }
      }
    },
    "/api/master-entities/{master_entity_id}/banking-info/": {
      "get": {
        "operationId": "getBankingInfo",
        "tags": ["Cuenta bancaria"],
        "summary": "Consultar cuenta bancaria",
        "description": "Retorna la cuenta bancaria registrada para el destinatario. El estado `verified` indica que el destinatario puede recibir depósitos.",
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "master_entity_id",
            "in": "path",
            "required": true,
            "description": "ID del destinatario (MasterEntity).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Cuenta bancaria del destinatario",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BankingInfoResponse" },
                "example": {
                  "id": 456,
                  "bank_code": "BANCO_BCI",
                  "account_type": "corriente",
                  "account_number": "1234567890",
                  "holder_rut": "12345678-9",
                  "holder_name": "María Pérez",
                  "status": "verified",
                  "updated_at": "2026-04-06T12:00:00Z"
                }
              }
            }
          },
          "401": { "description": "API key inválida o no proporcionada" },
          "404": { "description": "El destinatario no tiene cuenta bancaria registrada" }
        }
      },
      "post": {
        "operationId": "createBankingInfo",
        "tags": ["Cuenta bancaria"],
        "summary": "Registrar cuenta bancaria",
        "description": "Registra una cuenta bancaria para el destinatario. La cuenta queda en estado `pending_verification` mientras Tu Pana la verifica. Una vez en `verified`, el destinatario puede recibir depósitos.",
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "master_entity_id",
            "in": "path",
            "required": true,
            "description": "ID del destinatario (MasterEntity).",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BankingInfoCreate" },
              "example": {
                "bank_code": "BANCO_BCI",
                "account_type": "corriente",
                "account_number": "1234567890",
                "holder_rut": "12345678-9",
                "holder_name": "María Pérez"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cuenta bancaria registrada",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BankingInfoResponse" },
                "example": {
                  "id": 456,
                  "bank_code": "BANCO_BCI",
                  "account_type": "corriente",
                  "account_number": "1234567890",
                  "holder_rut": "12345678-9",
                  "holder_name": "María Pérez",
                  "status": "pending_verification",
                  "updated_at": "2026-04-06T12:00:00Z"
                }
              }
            }
          },
          "401": { "description": "API key inválida o no proporcionada" }
        }
      }
    },
    "/api/master-entities/{master_entity_id}/banking-info/{banking_info_id}/": {
      "patch": {
        "operationId": "updateBankingInfo",
        "tags": ["Cuenta bancaria"],
        "summary": "Actualizar cuenta bancaria",
        "description": "Actualiza uno o más campos de la cuenta bancaria registrada. Solo se modifican los campos incluidos en el request.",
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "master_entity_id",
            "in": "path",
            "required": true,
            "description": "ID del destinatario (MasterEntity).",
            "schema": { "type": "string" }
          },
          {
            "name": "banking_info_id",
            "in": "path",
            "required": true,
            "description": "ID de la cuenta bancaria a actualizar.",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BankingInfoUpdate" },
              "example": {
                "account_number": "9876543210"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cuenta bancaria actualizada",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BankingInfoResponse" }
              }
            }
          },
          "401": { "description": "API key inválida o no proporcionada" },
          "404": { "description": "Cuenta bancaria no encontrada" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key para autenticación. Formato: `Api-Key YOUR-API-KEY`"
      }
    },
    "schemas": {
      "PaymentRequestCreate": {
        "type": "object",
        "required": ["amount", "recipient_id", "target_dte_type", "dte_recipient", "items"],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Monto en CLP, sin decimales.",
            "example": 50000
          },
          "currency": {
            "type": "string",
            "description": "Moneda. Siempre `CLP`. Si se omite, se usa `CLP` por defecto.",
            "enum": ["CLP"],
            "default": "CLP"
          },
          "recipient_id": {
            "type": "integer",
            "description": "ID numérico del destinatario en Tu Pana. Debe tener cuenta bancaria registrada.",
            "example": 789
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL a la que Tu Pana redirige al usuario después del pago. Si se omite, el usuario permanece en el portal de pago.",
            "example": "https://tuapp.com/confirmation"
          },
          "target_dte_type": {
            "type": "integer",
            "description": "Tipo de DTE a emitir al confirmarse el pago. `39` = boleta afecta, `41` = boleta exenta, `33` = factura afecta.",
            "enum": [33, 39, 41],
            "example": 39
          },
          "dte_recipient": {
            "$ref": "#/components/schemas/DteRecipient"
          },
          "items": {
            "type": "array",
            "description": "Ítems del DTE. La suma de `quantity × unit_price` debe coincidir con `amount`.",
            "items": { "$ref": "#/components/schemas/PaymentRequestItem" }
          },
          "expires_in_minutes": {
            "type": "integer",
            "description": "Minutos hasta que vence la sesión. Por defecto: `30`.",
            "default": 30,
            "example": 30
          },
          "skip_portal": {
            "type": "boolean",
            "description": "Si `true`, redirige directo a Transbank sin mostrar la pantalla de Tu Pana. Por defecto: `false`.",
            "default": false
          },
          "auto_issue": {
            "type": "boolean",
            "description": "Si `true` (default), Tu Pana emite el DTE automáticamente al confirmarse el pago. Si `false`, debes emitirlo manualmente con `POST /api/payment-requests/{id}/issue/`.",
            "default": true
          },
          "external_id": {
            "type": "string",
            "description": "ID propio para idempotencia. Si ya existe una sesión con ese `external_id` para tu API key, se retorna la sesión original con HTTP 200.",
            "example": "booking_abc123"
          },
          "metadata": {
            "type": "object",
            "description": "Datos adicionales de libre formato. Tu Pana los guarda y devuelve en webhooks y en el GET.",
            "additionalProperties": true
          }
        }
      },
      "DteRecipient": {
        "type": "object",
        "required": ["rut", "name"],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT del receptor del DTE.",
            "example": "11111111-1"
          },
          "name": {
            "type": "string",
            "description": "Nombre o razón social del receptor.",
            "example": "Juan Soto"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email al que se enviará el DTE. Opcional.",
            "example": "juan@ejemplo.com"
          }
        }
      },
      "PaymentRequestItem": {
        "type": "object",
        "required": ["description", "quantity", "unit_price"],
        "properties": {
          "description": {
            "type": "string",
            "description": "Descripción del ítem.",
            "example": "Sesión de psicoterapia"
          },
          "quantity": {
            "type": "number",
            "description": "Cantidad.",
            "example": 1
          },
          "unit_price": {
            "type": "integer",
            "description": "Precio unitario en CLP.",
            "example": 50000
          }
        }
      },
      "PaymentRequestResponse": {
        "type": "object",
        "properties": {
          "payment_request_id": {
            "type": "integer",
            "description": "ID único de la sesión de cobro.",
            "example": 1042
          },
          "status": {
            "type": "string",
            "enum": ["pending", "paid", "failed", "expired", "refunded"],
            "example": "pending"
          },
          "payment_url": {
            "type": "string",
            "format": "uri",
            "description": "URL a la que debes redirigir al usuario para que complete el pago.",
            "example": "https://www.tupana.ai/pagos/tok_xyz"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora en que vence la sesión (UTC).",
            "example": "2026-04-06T12:30:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora de creación de la sesión (UTC).",
            "example": "2026-04-06T12:00:00Z"
          },
          "amount": {
            "type": "number",
            "description": "Monto del cobro en CLP.",
            "example": 50000
          },
          "target_dte_type": {
            "type": "string",
            "description": "Tipo de DTE que se emitirá al pagarse.",
            "example": "39"
          },
          "auto_issue": {
            "type": "boolean",
            "description": "Si el DTE se emite automáticamente al confirmarse el pago.",
            "example": true
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "Tu ID propio para esta sesión.",
            "example": "booking_abc123"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Datos adicionales que enviaste al crear la sesión."
          }
        }
      },
      "PaymentRequestListResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PaymentRequestResponse" }
          }
        }
      },
      "BankingInfoCreate": {
        "type": "object",
        "required": ["bank_code", "account_type", "account_number", "holder_rut", "holder_name"],
        "properties": {
          "bank_code": {
            "type": "string",
            "description": "Código del banco. Ej: `BANCO_BCI`, `BANCO_SANTANDER`, `BANCO_ESTADO`.",
            "example": "BANCO_BCI"
          },
          "account_type": {
            "type": "string",
            "enum": ["corriente", "ahorro", "vista"],
            "description": "Tipo de cuenta bancaria.",
            "example": "corriente"
          },
          "account_number": {
            "type": "string",
            "description": "Número de cuenta, sin guiones ni espacios.",
            "example": "1234567890"
          },
          "holder_rut": {
            "type": "string",
            "description": "RUT del titular de la cuenta.",
            "example": "12345678-9"
          },
          "holder_name": {
            "type": "string",
            "description": "Nombre del titular de la cuenta.",
            "example": "María Pérez"
          }
        }
      },
      "BankingInfoUpdate": {
        "type": "object",
        "properties": {
          "bank_code": { "type": "string", "example": "BANCO_SANTANDER" },
          "account_type": { "type": "string", "enum": ["corriente", "ahorro", "vista"] },
          "account_number": { "type": "string", "example": "9876543210" },
          "holder_rut": { "type": "string", "example": "12345678-9" },
          "holder_name": { "type": "string", "example": "María Pérez" }
        }
      },
      "BankingInfoResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 456 },
          "bank_code": { "type": "string", "example": "BANCO_BCI" },
          "account_type": { "type": "string", "example": "corriente" },
          "account_number": { "type": "string", "example": "1234567890" },
          "holder_rut": { "type": "string", "example": "12345678-9" },
          "holder_name": { "type": "string", "example": "María Pérez" },
          "status": {
            "type": "string",
            "enum": ["pending_verification", "verified"],
            "description": "`pending_verification`: Tu Pana está verificando la cuenta. `verified`: el destinatario puede recibir depósitos.",
            "example": "verified"
          },
          "updated_at": { "type": "string", "format": "date-time", "example": "2026-04-06T12:00:00Z" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error_code": { "type": "string", "example": "RECIPIENT_NOT_FOUND" },
          "message": { "type": "string", "example": "Recipient with id 789 not found." }
        }
      }
    }
  }
}
