{
  "openapi": "3.0.0",
  "info": {
    "title": "API de Pana",
    "description": "API para integración con el sistema Pana",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tupana.ai/v1",
      "description": "Servidor de producción"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/documents/batch": {
      "post": {
        "summary": "Envío de documentos en lote",
        "description": "Crea hasta 200 documentos en una sola llamada. La respuesta con el PDF y los detalles completos se entrega a través del webhook configurado.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Previene lotes duplicados (≤ 256 caracteres, expira después de 24 h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Lote de documentos a crear",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Documentos creados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "413": {
            "description": "Más de 200 documentos en el array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Cuerpo malformado o fallo de validación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/credentials": {
      "get": {
        "summary": "Listar credenciales",
        "description": "Obtiene todas las credenciales activas del usuario autenticado",
        "responses": {
          "200": {
            "description": "Lista de credenciales obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID único de la credencial",
                        "example": 1
                      },
                      "user": {
                        "type": "string",
                        "description": "RUT del usuario de la credencial",
                        "example": "12345678-9"
                      },
                      "master_entity": {
                        "type": "object",
                        "description": "Información de la entidad maestra asociada",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID de la entidad maestra",
                            "example": 123
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre de la entidad maestra",
                            "example": "Empresa Ejemplo SpA"
                          },
                          "tax_id": {
                            "type": "string",
                            "description": "RUT de la entidad maestra",
                            "example": "76543210-1"
                          }
                        }
                      },
                      "credential_type": {
                        "type": "object",
                        "description": "Tipo de credencial",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID del tipo de credencial",
                            "example": 70
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre del tipo de credencial",
                            "example": "SII"
                          }
                        }
                      },
                      "status": {
                        "type": "string",
                        "description": "Estado de la credencial",
                        "enum": [
                          "VALID",
                          "INVALID",
                          "EXPIRED"
                        ],
                        "example": "VALID"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Fecha de creación de la credencial",
                        "example": "2024-01-01T10:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin permisos para acceder a credenciales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Crear credencial",
        "description": "Crea una nueva credencial validándola en el SII",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_rut",
                  "password",
                  "master_entity_id"
                ],
                "properties": {
                  "user_rut": {
                    "type": "string",
                    "description": "RUT del usuario (sin puntos y con guión)",
                    "pattern": "^[0-9]+-[0-9kK]$",
                    "example": "12345678-9"
                  },
                  "password": {
                    "type": "string",
                    "description": "Contraseña del usuario en el SII",
                    "example": "mi_password_segura"
                  },
                  "master_entity_id": {
                    "type": "integer",
                    "description": "ID de la entidad maestra a la que pertenece la credencial",
                    "example": 123
                  },
                  "credential_type_id": {
                    "type": "integer",
                    "description": "ID del tipo de credencial (opcional, por defecto SII)",
                    "example": 70
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credencial creada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID único de la credencial creada",
                      "example": 1
                    },
                    "user": {
                      "type": "string",
                      "description": "RUT del usuario de la credencial",
                      "example": "12345678-9"
                    },
                    "master_entity": {
                      "type": "object",
                      "description": "Información de la entidad maestra asociada",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID de la entidad maestra",
                          "example": 123
                        },
                        "name": {
                          "type": "string",
                          "description": "Nombre de la entidad maestra",
                          "example": "Empresa Ejemplo SpA"
                        },
                        "tax_id": {
                          "type": "string",
                          "description": "RUT de la entidad maestra",
                          "example": "76543210-1"
                        }
                      }
                    },
                    "credential_type": {
                      "type": "object",
                      "description": "Tipo de credencial",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID del tipo de credencial",
                          "example": 70
                        },
                        "name": {
                          "type": "string",
                          "description": "Nombre del tipo de credencial",
                          "example": "SII"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Estado de la credencial",
                      "enum": [
                        "VALID",
                        "INVALID",
                        "EXPIRED"
                      ],
                      "example": "VALID"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Fecha de creación de la credencial",
                      "example": "2024-01-01T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en la validación de datos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin permisos para crear credenciales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entidad maestra no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error de validación en el SII",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/master-entities": {
      "get": {
        "summary": "Listar entidades maestras",
        "description": "Obtiene todas las entidades maestras disponibles para el usuario autenticado",
        "responses": {
          "200": {
            "description": "Lista de entidades maestras obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MasterEntity"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin permisos para acceder a entidades maestras",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentBatch": {
        "type": "object",
        "required": [
          "documents"
        ],
        "properties": {
          "documents": {
            "type": "array",
            "description": "Array de documentos a crear (máximo 200)",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        }
      },
      "Document": {
        "type": "object",
        "required": [
          "date_issued",
          "dte_type",
          "document_issuer",
          "document_receiver",
          "details"
        ],
        "properties": {
          "date_issued": {
            "type": "string",
            "format": "date",
            "description": "Fecha de emisión (YYYY-MM-DD)"
          },
          "dte_type": {
            "$ref": "#/components/schemas/DteType"
          },
          "document_issuer": {
            "$ref": "#/components/schemas/DocumentIssuer"
          },
          "document_receiver": {
            "$ref": "#/components/schemas/DocumentReceiver"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetailItem"
            }
          },
          "header": {
            "$ref": "#/components/schemas/DocumentHeader"
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferenceItem"
            }
          },
          "json_param": {
            "type": "object",
            "description": "JSON arbitrario almacenado textualmente"
          }
        }
      },
      "DteType": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Código del tipo de documento:\n- 33: Factura Electrónica\n- 34: Factura Exenta Electrónica\n- 39: Boleta Electrónica\n- 61: Nota de Crédito Electrónica",
            "enum": [
              "33",
              "34",
              "39",
              "61"
            ]
          }
        }
      },
      "DocumentHeader": {
        "type": "object",
        "properties": {
          "purchase_transaction_type": {
            "type": "integer",
            "description": "Tipo de transacción de compra"
          },
          "sale_transaction_type": {
            "type": "integer",
            "description": "Tipo de transacción de venta"
          },
          "payment_method": {
            "type": "string",
            "description": "Método de pago"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de vencimiento"
          }
        }
      },
      "DocumentIssuer": {
        "type": "object",
        "required": [
          "rut"
        ],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT sin puntos y con guion, ej: 76543210-K",
            "pattern": "^[0-9]{7,8}-[0-9K]$"
          },
          "business_name": {
            "type": "string",
            "description": "Razón social"
          },
          "phone_number": {
            "type": "string",
            "description": "Número de teléfono"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico"
          },
          "business_activity": {
            "type": "string",
            "description": "Giro comercial"
          },
          "activity_code": {
            "type": "integer",
            "description": "Código de actividad económica"
          },
          "sii_branch_code": {
            "type": "string",
            "description": "Código de sucursal SII"
          },
          "address": {
            "type": "string",
            "description": "Dirección"
          },
          "district": {
            "type": "string",
            "description": "Comuna"
          },
          "city": {
            "type": "string",
            "description": "Ciudad"
          }
        }
      },
      "DocumentReceiver": {
        "type": "object",
        "required": [
          "rut"
        ],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT sin puntos y con guion, ej: 76543210-K",
            "pattern": "^[0-9]{7,8}-[0-9K]$"
          },
          "business_name": {
            "type": "string",
            "description": "Razón social"
          },
          "contact": {
            "type": "string",
            "description": "Contacto"
          },
          "business_activity": {
            "type": "string",
            "description": "Giro comercial"
          },
          "address": {
            "type": "string",
            "description": "Dirección"
          },
          "district": {
            "type": "string",
            "description": "Comuna"
          },
          "city": {
            "type": "string",
            "description": "Ciudad"
          }
        }
      },
      "DetailItem": {
        "type": "object",
        "required": [
          "item_name",
          "quantity",
          "unit_price"
        ],
        "properties": {
          "item_name": {
            "type": "string",
            "description": "Nombre del ítem"
          },
          "quantity": {
            "type": "number",
            "description": "Cantidad"
          },
          "unit_price": {
            "type": "number",
            "format": "float",
            "description": "Precio unitario"
          },
          "line_number": {
            "type": "integer",
            "description": "Número de línea"
          },
          "item_description": {
            "type": "string",
            "description": "Descripción del ítem"
          },
          "discount_percent": {
            "type": "number",
            "format": "float",
            "description": "Porcentaje de descuento"
          },
          "item_total": {
            "type": "number",
            "format": "float",
            "description": "Total del ítem"
          },
          "item_code": {
            "type": "string",
            "description": "Código del ítem"
          },
          "unit": {
            "type": "string",
            "description": "Unidad de medida"
          },
          "other_tax": {
            "type": "number",
            "format": "float",
            "description": "Otros impuestos"
          },
          "item_type_code": {
            "type": "integer",
            "description": "Código de tipo de ítem"
          }
        }
      },
      "ReferenceItem": {
        "type": "object",
        "properties": {
          "reference_type": {
            "type": "integer",
            "description": "Tipo de referencia"
          },
          "reference_folio": {
            "type": "integer",
            "description": "Folio de referencia"
          },
          "reference_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de referencia"
          },
          "reference_reason": {
            "type": "string",
            "description": "Razón de referencia"
          },
          "dte_type_code": {
            "type": "string",
            "description": "Código de tipo de DTE referenciado"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del lote"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Índice del documento en el array original"
                },
                "document_id": {
                  "type": "integer",
                  "description": "ID del documento creado"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "created",
                    "invalid"
                  ],
                  "description": "Estado de la creación del documento"
                },
                "errors": {
                  "type": "object",
                  "description": "Errores de validación si el estado es 'invalid'"
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error"
          },
          "message": {
            "type": "string",
            "description": "Mensaje de error"
          }
        }
      },
      "MasterEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único de la entidad maestra",
            "example": 123
          },
          "name": {
            "type": "string",
            "description": "Nombre de la entidad maestra",
            "example": "Empresa Ejemplo SpA"
          },
          "tax_id": {
            "type": "string",
            "description": "RUT de la entidad maestra",
            "example": "76543210-1"
          },
          "status": {
            "type": "string",
            "description": "Estado de la entidad maestra",
            "enum": [
              "active",
              "inactive"
            ],
            "example": "active"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación de la entidad maestra",
            "example": "2024-01-01T10:00:00Z"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key para autenticación. Debe proporcionarse en el formato: 'Api-Key YOUR-API-KEY'"
      }
    }
  }
}