{
  "openapi": "3.0.0",
  "info": {
    "title": "Tu Pana API",
    "description": "API para integración con el sistema Tu Pana - Facturación Electrónica",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tupana.ai/v1",
      "description": "Servidor de producción"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/documents": {
      "get": {
        "tags": [
          "Documentos"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Listar documentos",
        "description": "Obtiene la lista de documentos emitidos o recibidos por una entidad específica. Soporta búsqueda por folio, nombre del receptor y filtros avanzados.",
        "parameters": [
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad emisora o receptora cuyos documentos quieres consultar.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_type",
            "in": "query",
            "description": "`issued` (por defecto) o `received`. `issued` devuelve documentos donde la entidad es el **emisor**. `received` devuelve documentos donde la entidad es el **receptor** (cuando usas `received`, el parámetro `search` buscará en el nombre y RUT del emisor, y `issuer_tax_id` permite filtrar por RUT del emisor específico).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "issued",
                "received"
              ],
              "default": "issued"
            }
          },
          {
            "name": "folio",
            "in": "query",
            "description": "Folio exacto del documento. Si se envía, se ignoran otros filtros y se devuelve el documento específico.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Busca por nombre o RUT del receptor (cuando `document_type=issued`) o del emisor (cuando `document_type=received`).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dte_type__code__in",
            "in": "query",
            "description": "Lista de códigos DTE separados por coma (ej: `33,34`).",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "33",
                "34",
                "39",
                "61"
              ]
            }
          },
          {
            "name": "issuer_tax_id",
            "in": "query",
            "description": "RUT del emisor cuando `document_type=received`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página actual, parte de la paginación estándar. Por defecto: 1. La respuesta incluye `count` (total), `next`, `previous` (URLs de navegación) y `results` (arreglo de documentos con información de emisor, receptor, montos, estado, PDF y referencias).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Tamaño de página (máx. 100). Por defecto: 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de documentos obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResponse"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos para acceder a esta entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entidad no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/batch": {
      "post": {
        "operationId": "createDocumentsBatch",
        "summary": "Envío de documentos en lote",
        "description": "Crea hasta 200 documentos en una sola llamada. La respuesta con el PDF y los detalles completos se entrega a través del webhook configurado.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Previene lotes duplicados (≤ 256 caracteres, expira después de 24 h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Use-Defaults",
            "in": "header",
            "description": "Si se establece como true, el sistema usará valores por defecto para campos no proporcionados:\n- Fecha actual para date_issued\n- Datos del emisor según configuración de la plataforma o primera actividad/dirección disponible\n- Datos del receptor según configuración del cliente o primera actividad/dirección disponible\n- Payment method = '2' (crédito) en el header del documento",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Lote de documentos a crear",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentBatch"
              },
              "example": {
                "documents": [
                  {
                    "dte_type": {
                      "code": "33"
                    },
                    "date_issued": "2024-01-15",
                    "document_issuer": {
                      "rut": "12345678-9",
                      "business_name": "Mi Empresa SpA"
                    },
                    "document_receiver": {
                      "rut": "98765432-1",
                      "business_name": "Cliente Importante Ltda"
                    },
                    "details": [
                      {
                        "item_name": "Servicio de Consultoría",
                        "quantity": 1,
                        "unit_price": 100000,
                        "item_total": 100000
                      }
                    ]
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Solicitud de creación de documentos aceptada. Los resultados se enviarán por webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "413": {
            "description": "Más de 200 documentos en el array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Cuerpo malformado o fallo de validación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/documents/{document_id}": {
      "get": {
        "tags": [
          "Documentos"
        ],
        "summary": "Obtener documento específico",
        "description": "Obtiene toda la información completa de un documento tributario específico, incluyendo el PDF y XML cuando están disponibles. El PDF siempre se incluye en la respuesta (campo `pdf_url`). Este endpoint es útil para consultar detalles completos de un documento ya emitido o recibido.\n\n**Seguridad:** El usuario solo puede acceder al documento si es emisor (sender) o receptor (receiver) del documento. Si el usuario no tiene acceso, se retorna un error 403 Forbidden.",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "description": "ID único del documento a consultar (entero)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documento obtenido exitosamente con PDF y XML cuando están disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDetailWithFiles"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API Key faltante o inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos para acceder al documento. El usuario debe ser emisor (sender) o receptor (receiver) del documento.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No tienes acceso a este documento"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Documento o entidad no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/credentials": {
      "get": {
        "summary": "Listar credenciales",
        "description": "Obtiene todas las activas del usuario autenticado",
        "responses": {
          "200": {
            "description": "Lista de credenciales obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID único de la credencial",
                        "example": 245
                      },
                      "user": {
                        "type": "string",
                        "description": "RUT del usuario de la credencial",
                        "example": "16659618-1"
                      },
                      "credential_type": {
                        "type": "object",
                        "description": "Tipo de credencial",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID del tipo de credencial",
                            "example": 70
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre del tipo de credencial",
                            "example": "SII"
                          }
                        }
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Fecha de creación de la credencial",
                        "example": "2025-08-06T01:24:45.422918Z"
                      },
                      "status": {
                        "type": "string",
                        "description": "Estado de la credencial",
                        "enum": [
                          "VALID",
                          "INVALID",
                          "EXPIRED"
                        ],
                        "example": "VALID"
                      },
                      "master_entities": {
                        "type": "array",
                        "description": "Lista de entidades maestras asociadas a la credencial",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID de la entidad maestra",
                              "example": 4355
                            },
                            "name": {
                              "type": "string",
                              "description": "Nombre de la entidad maestra",
                              "example": "HIDDEN CORE SPA"
                            },
                            "tax_id": {
                              "type": "string",
                              "description": "RUT de la entidad maestra",
                              "example": "78.121.555-4"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin permisos para acceder a credenciales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createCredential",
        "summary": "Crear credencial",
        "description": "Crea una nueva credencial validándola en el SII",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_rut",
                  "password",
                  "digital_certificate_password",
                  "master_entity_id"
                ],
                "properties": {
                  "user_rut": {
                    "type": "string",
                    "description": "RUT del usuario (sin puntos y con guión)",
                    "pattern": "^[0-9]+-[0-9kK]$",
                    "example": "12345678-9"
                  },
                  "password": {
                    "type": "string",
                    "description": "Contraseña del usuario en el SII",
                    "example": "mi_password_segura"
                  },
                  "digital_certificate_password": {
                    "type": "string",
                    "description": "Contraseña del certificado digital",
                    "example": "mi_password_certificado"
                  },
                  "master_entity_id": {
                    "type": "integer",
                    "description": "ID de la entidad maestra a la que pertenece la credencial",
                    "example": 123
                  },
                  "credential_type_id": {
                    "type": "integer",
                    "description": "ID del tipo de credencial (opcional, por defecto SII)",
                    "example": 70
                  }
                }
              },
              "example": {
                "user_rut": "12345678-9",
                "password": "mi_password_segura",
                "digital_certificate_password": "mi_password_certificado",
                "master_entity_id": 123
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credencial creada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID único de la credencial creada",
                      "example": 1
                    },
                    "user": {
                      "type": "string",
                      "description": "RUT del usuario de la credencial",
                      "example": "12345678-9"
                    },
                    "master_entity": {
                      "type": "object",
                      "description": "Información de la entidad maestra asociada",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID de la entidad maestra",
                          "example": 123
                        },
                        "name": {
                          "type": "string",
                          "description": "Nombre de la entidad maestra",
                          "example": "Empresa Ejemplo SpA"
                        },
                        "tax_id": {
                          "type": "string",
                          "description": "RUT de la entidad maestra",
                          "example": "76543210-1"
                        }
                      }
                    },
                    "credential_type": {
                      "type": "object",
                      "description": "Tipo de credencial",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID del tipo de credencial",
                          "example": 70
                        },
                        "name": {
                          "type": "string",
                          "description": "Nombre del tipo de credencial",
                          "example": "SII"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Estado de la credencial",
                      "enum": [
                        "VALID",
                        "INVALID",
                        "EXPIRED"
                      ],
                      "example": "VALID"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Fecha de creación de la credencial",
                      "example": "2024-01-01T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en la validación de datos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin permisos para crear credenciales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entidad maestra no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error de validación en el SII",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/master-entities": {
      "get": {
        "summary": "Buscar entidad por RUT",
        "description": "Busca una entidad maestra específica por su RUT. Requiere autenticación por API Key.",
        "parameters": [
          {
            "name": "rut",
            "in": "query",
            "description": "RUT del cliente a consultar (formato: 76543210-1, sin puntos)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{7,8}-[0-9K]$",
              "example": "76543210-1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entidad encontrada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterEntity"
                }
              }
            }
          },
          "400": {
            "description": "Parámetro 'rut' faltante o formato inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API Key inválida o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entidad no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/scheduled-documents": {
      "get": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Listar documentos programados",
        "description": "Obtiene una lista paginada de documentos programados de una entidad específica. Los documentos programados son plantillas que se ejecutan automáticamente según una frecuencia definida.",
        "parameters": [
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por estado del documento programado",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "completed"
              ],
              "example": "active"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "Filtrar por frecuencia de ejecución",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly"
              ],
              "example": "monthly"
            }
          },
          {
            "name": "dte_type",
            "in": "query",
            "description": "Filtrar por tipo de DTE",
            "required": false,
            "schema": {
              "type": "string",
              "example": "33"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número de página para paginación",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Número de elementos por página",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de documentos programados obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledDocumentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createScheduledDocument",
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Crear documento programado",
        "description": "Crea un nuevo documento programado que se ejecutará automáticamente según la frecuencia especificada.",
        "requestBody": {
          "description": "Datos del documento programado a crear",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledDocumentCreate"
              },
              "example": {
                "sender": 123,
                "dte_type": "33",
                "receiver_tax_id": "76111111-1",
                "frequency": "monthly",
                "day_of_month": 10,
                "currency": "CLP",
                "status": "active",
                "details": [
                  {
                    "item_name": "Servicio mensual de consultoría",
                    "description": "Asistencia contable mensual",
                    "quantity": 1,
                    "unit_price": 150000,
                    "unit_of_measurement": "UN"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Documento programado creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledDocument"
                },
                "example": {
                  "id": 987,
                  "sender": {
                    "id": 123,
                    "name": "Empresa Ejemplo SpA",
                    "rut": "76543210-1"
                  },
                  "receiver": {
                    "id": 456,
                    "name": "Cliente ABC Ltda",
                    "rut": "12345678-9"
                  },
                  "dte_type": {
                    "id": 1,
                    "code": "33",
                    "description": "Factura Electrónica"
                  },
                  "frequency": "monthly",
                  "frequency_display": "Mensual",
                  "day_of_month": 10,
                  "day_of_week": null,
                  "next_execution": "2024-03-10T10:00:00Z",
                  "status": "active",
                  "status_display": "Activo",
                  "amount": 150000,
                  "currency": "CLP",
                  "completed_occurrences": 0,
                  "max_occurrences": null,
                  "details": [
                    {
                      "id": 1,
                      "item_name": "Servicio mensual de consultoría",
                      "description": "Asistencia contable mensual",
                      "quantity": 1,
                      "unit_price": 150000,
                      "total": 150000,
                      "unit_of_measurement": "UN"
                    }
                  ],
                  "created_at": "2024-02-05T12:15:00Z",
                  "updated_at": "2024-02-05T12:15:00Z"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error de validación en el SII",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scheduled-documents/{id}": {
      "get": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Obtener documento programado",
        "description": "Obtiene los detalles de un documento programado específico.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento programado",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 789
            }
          },
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documento programado obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledDocument"
                }
              }
            }
          },
          "404": {
            "description": "Documento programado no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateScheduledDocument",
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Actualizar documento programado",
        "description": "Actualiza parcialmente un documento programado existente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento programado",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 789
            }
          },
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "requestBody": {
          "description": "Campos a actualizar del documento programado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledDocumentUpdate"
              },
              "example": {
                "status": "inactive",
                "amount": 120000
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Documento programado actualizado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledDocument"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Documento programado no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Eliminar documento programado",
        "description": "Elimina un documento programado existente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento programado",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 789
            }
          },
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documento programado eliminado exitosamente"
          },
          "404": {
            "description": "Documento programado no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scheduled-documents/{id}/preview": {
      "get": {
        "tags": [
          "Documentos Programados"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Preview de documento programado guardado",
        "description": "Genera un preview en PDF del próximo documento que se emitirá para un documento programado ya guardado.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento programado",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 789
            }
          },
          {
            "name": "master_entity_id",
            "in": "query",
            "description": "ID de la entidad maestra",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Preview generado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pdf_base64": {
                      "type": "string",
                      "description": "PDF del documento en formato base64",
                      "example": "JVBERi0xLjQKMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Documento programado no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error generando el preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Prohibido - Sin acceso a la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/states": {
      "get": {
        "tags": [
          "Estados de Documentos"
        ],
        "summary": "Consultar historial de estados de un documento",
        "description": "Consultar el historial de estados asociados a un documento tributario específico.",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "description": "ID único del documento (integer)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historial de estados obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentStatesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos para acceder a este documento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "No tienes acceso a este documento"
                }
              }
            }
          },
          "404": {
            "description": "Documento no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Estados de Documentos"
        ],
        "summary": "Registrar nuevo estado en un documento",
        "description": "Registrar un nuevo estado cuando ocurre un evento relevante sobre el documento.",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "description": "ID único del documento (integer)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentStateRequest"
              },
              "examples": {
                "acuse_recibo": {
                  "summary": "Registrar acuse de recibo",
                  "value": {
                    "event_code": "ERM"
                  }
                },
                "rechazo": {
                  "summary": "Registrar rechazo",
                  "value": {
                    "event_code": "RCD",
                    "rejection_reason": "Error en el monto facturado"
                  }
                },
                "aceptacion_contenido": {
                  "summary": "Aceptar contenido del documento",
                  "value": {
                    "event_code": "ACD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estado registrado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentStateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros inválidos o error al registrar el evento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "parametros_faltantes": {
                    "value": {
                      "error": "Se requiere el código del evento (event_code)"
                    }
                  },
                  "evento_invalido": {
                    "value": {
                      "error": "Código de evento inválido. Debe ser uno de: ERM, ACD, RCD, RFT, RFP"
                    }
                  },
                  "error_sii": {
                    "value": {
                      "success": false,
                      "error": "Error al registrar evento en el SII",
                      "error_code": "SII_ERROR_CODE"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos para acceder a este documento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Documento no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/cessions/batch": {
      "post": {
        "operationId": "createCessionBatch",
        "tags": [
          "Cesiones"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "summary": "Generar cesiones de facturas en lote",
        "description": "Genera cesiones (AECs) de múltiples facturas en una sola llamada. Obtiene automáticamente los códigos EHDR del SII y envía los AECs al SII.",
        "requestBody": {
          "description": "Datos para generar las cesiones",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "master_entity_id",
                  "document_ids",
                  "assignee_rut",
                  "assignee_dv",
                  "assignee_business_name",
                  "assignee_address",
                  "assignee_email"
                ],
                "properties": {
                  "master_entity_id": {
                    "type": "integer",
                    "description": "ID de la entidad maestra emisora de las facturas",
                    "example": 123
                  },
                  "document_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Lista de IDs de los documentos (facturas) a ceder",
                    "example": [
                      858405,
                      858406
                    ]
                  },
                  "assignee_rut": {
                    "type": "string",
                    "description": "RUT del cesionario (sin puntos ni guión)",
                    "example": "76798398"
                  },
                  "assignee_dv": {
                    "type": "string",
                    "description": "Dígito verificador del RUT del cesionario",
                    "example": "0"
                  },
                  "assignee_business_name": {
                    "type": "string",
                    "description": "Razón social del cesionario",
                    "example": "SUPLO SPA"
                  },
                  "assignee_address": {
                    "type": "string",
                    "description": "Dirección del cesionario",
                    "example": "Av. Tajamar 183"
                  },
                  "assignee_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email del cesionario",
                    "example": "factoring@suplo.cl"
                  },
                  "assignor_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email del cedente (opcional, se usa el email de la entidad si no se proporciona)",
                    "example": "antonio@tupana.ai"
                  }
                }
              },
              "example": {
                "master_entity_id": 123,
                "document_ids": [
                  858405,
                  858406
                ],
                "assignee_rut": "76798398",
                "assignee_dv": "0",
                "assignee_business_name": "SUPLO SPA",
                "assignee_address": "Av. Tajamar 183",
                "assignee_email": "factoring@suplo.cl",
                "assignor_email": "antonio@tupana.ai"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Cesiones generadas exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "2 assignment(s) generated successfully"
                    },
                    "cessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cession_id": {
                            "type": "integer",
                            "example": 133
                          },
                          "document_id": {
                            "type": "integer",
                            "example": 858405
                          },
                          "folio": {
                            "type": "integer",
                            "example": 12345
                          },
                          "file_name": {
                            "type": "string",
                            "example": "AEC_12345.xml"
                          },
                          "presigned_url": {
                            "type": "string",
                            "format": "uri",
                            "example": "https://s3.amazonaws.com/..."
                          }
                        }
                      }
                    },
                    "aec_results": {
                      "type": "array",
                      "description": "Resultados del envío de AECs al SII",
                      "items": {
                        "type": "object",
                        "properties": {
                          "folio": {
                            "type": "integer"
                          },
                          "sii_identifier": {
                            "type": "string"
                          },
                          "sii_file_name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "sent_to_sii",
                              "failed"
                            ]
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document_id": {
                            "type": "integer"
                          },
                          "folio": {
                            "type": "integer"
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total_processed": {
                      "type": "integer",
                      "example": 2
                    },
                    "total_errors": {
                      "type": "integer",
                      "example": 0
                    },
                    "aec_sent": {
                      "type": "integer",
                      "description": "Número de AECs enviados exitosamente al SII",
                      "example": 2
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "2 assignment(s) generated successfully",
                  "cessions": [
                    {
                      "cession_id": 133,
                      "document_id": 858405,
                      "folio": 12345,
                      "file_name": "AEC_12345.xml",
                      "presigned_url": "https://s3.amazonaws.com/bucket/AEC_12345.xml?signature=..."
                    },
                    {
                      "cession_id": 134,
                      "document_id": 858406,
                      "folio": 12346,
                      "file_name": "AEC_12346.xml",
                      "presigned_url": "https://s3.amazonaws.com/bucket/AEC_12346.xml?signature=..."
                    }
                  ],
                  "aec_results": [
                    {
                      "folio": 12345,
                      "sii_identifier": "AEC-2024-001234",
                      "sii_file_name": "AEC_12345.xml",
                      "status": "sent_to_sii"
                    },
                    {
                      "folio": 12346,
                      "sii_identifier": "AEC-2024-001235",
                      "sii_file_name": "AEC_12346.xml",
                      "status": "sent_to_sii"
                    }
                  ],
                  "errors": null,
                  "total_processed": 2,
                  "total_errors": 0,
                  "aec_sent": 2
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos proporcionados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "invalid_documents": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "examples": {
                  "missing_master_entity_id": {
                    "value": {
                      "error": "master_entity_id is required in the request body"
                    }
                  },
                  "missing_fields": {
                    "value": {
                      "error": "Missing required fields: assignee_rut, assignee_dv, assignee_email"
                    }
                  },
                  "invalid_documents": {
                    "value": {
                      "error": "Only electronic invoices (DTE 33) or exempt invoices (DTE 34) can be assigned",
                      "invalid_documents": [
                        {
                          "id": 858407,
                          "folio": 12347,
                          "dte_code": "39"
                        }
                      ]
                    }
                  },
                  "missing_credentials": {
                    "value": {
                      "error": "No se encontraron credenciales SII válidas para esta entidad. La cesión requiere una credencial SII personal."
                    },
                    "description": "Las cesiones se generan usando la contraseña del SII del representante legal, no con el certificado digital. Se requiere una credencial SII personal válida."
                  }
                }
              }
            }
          },
          "403": {
            "description": "No tienes acceso a esta entidad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No tienes acceso a esta entidad"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Documentos no encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Some documents were not found or don't belong to this entity"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "missing_folios": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key para autenticación. Debe proporcionarse en el header Authorization con el formato: 'Api-Key YOUR-API-KEY' (incluye el prefijo 'Api-Key ' seguido de tu API key)"
      }
    },
    "schemas": {
      "DocumentStateRequest": {
        "type": "object",
        "required": [
          "event_code"
        ],
        "properties": {
          "event_code": {
            "type": "string",
            "enum": [
              "ERM",
              "ACD",
              "RCD",
              "RFT",
              "RFP"
            ],
            "description": "Código del evento a registrar:\n- ERM: Acuse de Recibo de Mercaderías y Servicios\n- ACD: Acepta Contenido del Documento\n- RCD: Reclama Contenido del Documento\n- RFT: Reclamo por Falta Total\n- RFP: Reclamo por Falta Parcial",
            "example": "ERM"
          },
          "rejection_reason": {
            "type": "string",
            "description": "Razón del rechazo (opcional, solo para eventos de rechazo: RCD, RFT, RFP)",
            "example": "Error en el monto facturado"
          }
        }
      },
      "DocumentStatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la operación fue exitosa",
            "example": true
          },
          "document_id": {
            "type": "integer",
            "description": "ID del documento",
            "example": 12345
          },
          "folio": {
            "type": "string",
            "description": "Folio del documento",
            "example": "123"
          },
          "states": {
            "type": "array",
            "description": "Lista de estados registrados para el documento, ordenados cronológicamente (más reciente primero)",
            "items": {
              "$ref": "#/components/schemas/DocumentState"
            }
          },
          "document": {
            "$ref": "#/components/schemas/DocumentDetail"
          }
        }
      },
      "DocumentState": {
        "type": "object",
        "properties": {
          "event_code": {
            "type": "string",
            "description": "Código del evento",
            "example": "ERM"
          },
          "event_description": {
            "type": "string",
            "description": "Descripción del evento",
            "example": "Acuse de Recibo"
          },
          "event_date": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora del evento (ISO 8601)",
            "example": "2024-01-16T10:30:00Z"
          },
          "responsable_rut": {
            "type": "integer",
            "description": "RUT del responsable del evento",
            "example": 12345678
          },
          "responsable_dv": {
            "type": "string",
            "description": "Dígito verificador del RUT del responsable",
            "example": "9"
          },
          "rejected_by_user": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email del usuario que registró el rechazo (solo para eventos de rechazo)",
            "example": "usuario@ejemplo.com"
          },
          "accepted_by_user": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email del usuario que registró la aprobación (solo para eventos de aprobación)",
            "example": "usuario@ejemplo.com"
          }
        }
      },
      "DocumentStateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la operación fue exitosa",
            "example": true
          },
          "event_registered": {
            "type": "boolean",
            "description": "Indica si el evento fue registrado exitosamente",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado",
            "example": "Acuse de Recibo registrado. Este acuse rebajará el IVA del próximo mes."
          },
          "event_data": {
            "type": "object",
            "description": "Datos adicionales del evento registrado (proporcionados por el SII)",
            "additionalProperties": true
          },
          "document": {
            "$ref": "#/components/schemas/DocumentDetail"
          },
          "email_preview_data": {
            "type": "object",
            "description": "Datos para preview de email (solo para aprobaciones, rechazos o acuses de recibo)",
            "properties": {
              "should_open_modal": {
                "type": "boolean",
                "example": true
              },
              "document_id": {
                "type": "integer",
                "example": 12345
              },
              "action": {
                "type": "string",
                "enum": [
                  "accept",
                  "reject"
                ],
                "example": "accept"
              },
              "subject": {
                "type": "string",
                "example": "Acuse de Recibo - Factura 123"
              },
              "supplier_id": {
                "type": "integer",
                "example": 67890
              },
              "supplier_name": {
                "type": "string",
                "example": "Proveedor Ejemplo S.A."
              },
              "supplier_rut": {
                "type": "string",
                "example": "12345678-9"
              },
              "document_folio": {
                "type": "string",
                "example": "123"
              },
              "pdf_url": {
                "type": "string",
                "format": "uri",
                "nullable": true,
                "example": "https://api.tupana.ai/documents/12345/pdf"
              },
              "rejection_reason": {
                "type": "string",
                "nullable": true,
                "example": "Error en el monto facturado"
              }
            }
          }
        }
      },
      "DocumentBatch": {
        "type": "object",
        "required": [
          "documents"
        ],
        "properties": {
          "documents": {
            "type": "array",
            "description": "Array de documentos a crear (máximo 200)",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        }
      },
      "Document": {
        "type": "object",
        "required": [
          "dte_type",
          "document_issuer",
          "document_receiver",
          "details"
        ],
        "properties": {
          "date_issued": {
            "type": "string",
            "format": "date",
            "description": "Fecha de emisión (YYYY-MM-DD). Si X-Use-Defaults es true y no se proporciona, se usa la fecha actual."
          },
          "folio": {
            "type": "string",
            "description": "Folio del documento. Si X-Use-Defaults es true y no se proporciona, se genera automáticamente."
          },
          "dte_type": {
            "$ref": "#/components/schemas/DteType"
          },
          "document_issuer": {
            "$ref": "#/components/schemas/DocumentIssuer"
          },
          "document_receiver": {
            "$ref": "#/components/schemas/DocumentReceiver"
          },
          "details": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/DetailItem"
            }
          },
          "header": {
            "$ref": "#/components/schemas/DocumentHeader"
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferenceItem"
            }
          },
          "json_param": {
            "type": "object",
            "additionalProperties": true,
            "description": "JSON arbitrario almacenado textualmente"
          },
          "export_data": {
            "$ref": "#/components/schemas/ExportData"
          }
        }
      },
      "DteType": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Código del tipo de documento:\n- 33: Factura Electrónica\n- 34: Factura Exenta Electrónica\n- 39: Boleta Electrónica\n- 46: Factura de Compra Electrónica\n- 61: Nota de Crédito Electrónica\n- 80: Boleta de Honorarios Electrónica\n- 110: Factura de Exportación Electrónica",
            "enum": [
              "33",
              "34",
              "39",
              "46",
              "61",
              "80",
              "110"
            ]
          }
        }
      },
      "DocumentHeader": {
        "type": "object",
        "properties": {
          "purchase_transaction_type": {
            "type": "integer",
            "description": "Tipo de transacción de compra"
          },
          "sale_transaction_type": {
            "type": "integer",
            "description": "Tipo de transacción de venta"
          },
          "payment_method": {
            "type": "string",
            "description": "Método de pago",
            "enum": [
              "1",
              "2",
              "3"
            ]
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de vencimiento"
          },
          "vat_withheld": {
            "type": "boolean",
            "description": "Indica si el IVA está retenido. Solo aplicable para facturas de compra (DTE 46) y notas de crédito que referencian facturas de compra.",
            "example": false
          },
          "retention_type": {
            "type": "string",
            "description": "Tipo de retención obligatorio para boletas de honorarios (DTE 80). Define quién retiene el 14,5% legal.",
            "enum": [
              "RETRECEPTOR",
              "RETCONTRIBUYENTE"
            ],
            "example": "RETRECEPTOR"
          }
        }
      },
      "DocumentIssuer": {
        "type": "object",
        "required": [
          "rut"
        ],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT sin puntos y con guion, ej: 76543210-K. Si X-Use-Defaults es true, los demás campos se rellenarán automáticamente según la configuración.",
            "pattern": "^[0-9]{7,8}-[0-9K]$"
          },
          "business_name": {
            "type": "string",
            "description": "Razón social"
          },
          "phone_number": {
            "type": "string",
            "description": "Número de teléfono"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico"
          },
          "business_activity": {
            "type": "string",
            "description": "Giro comercial"
          },
          "activity_code": {
            "type": "integer",
            "description": "Código de actividad económica"
          },
          "sii_branch_code": {
            "type": "string",
            "description": "Código de sucursal SII"
          },
          "address": {
            "type": "string",
            "description": "Dirección"
          },
          "district": {
            "type": "string",
            "description": "Comuna"
          },
          "city": {
            "type": "string",
            "description": "Ciudad"
          }
        }
      },
      "DocumentReceiver": {
        "type": "object",
        "required": [
          "rut"
        ],
        "properties": {
          "rut": {
            "type": "string",
            "description": "RUT sin puntos y con guion, ej: 76543210-K. Si X-Use-Defaults es true, los demás campos se rellenarán automáticamente según la configuración.",
            "pattern": "^[0-9]{7,8}-[0-9K]$"
          },
          "business_name": {
            "type": "string",
            "description": "Razón social"
          },
          "contact": {
            "type": "string",
            "description": "Contacto"
          },
          "business_activity": {
            "type": "string",
            "description": "Giro comercial"
          },
          "address": {
            "type": "string",
            "description": "Dirección"
          },
          "district": {
            "type": "string",
            "description": "Comuna"
          },
          "city": {
            "type": "string",
            "description": "Ciudad"
          }
        }
      },
      "DetailItem": {
        "type": "object",
        "required": [
          "item_name",
          "quantity",
          "unit_price"
        ],
        "properties": {
          "item_name": {
            "type": "string",
            "description": "Nombre del ítem"
          },
          "quantity": {
            "type": "number",
            "description": "Cantidad"
          },
          "unit_price": {
            "type": "number",
            "format": "float",
            "description": "Precio unitario"
          },
          "item_description": {
            "type": "string",
            "description": "Descripción del ítem"
          },
          "discount_percent": {
            "type": "number",
            "format": "float",
            "description": "Porcentaje de descuento"
          },
          "item_total": {
            "type": "number",
            "format": "float",
            "description": "Total del ítem"
          },
          "item_code": {
            "type": "string",
            "description": "Código del ítem"
          },
          "unit": {
            "type": "string",
            "description": "Unidad de medida"
          },
          "other_tax": {
            "type": "number",
            "format": "float",
            "description": "Otros impuestos"
          },
          "item_type_code": {
            "type": "integer",
            "description": "Código de tipo de ítem"
          }
        }
      },
      "ReferenceItem": {
        "type": "object",
        "required": [
          "reference_folio",
          "reference_date",
          "dte_type_code"
        ],
        "properties": {
          "reference_folio": {
            "type": "integer",
            "description": "Folio de referencia"
          },
          "reference_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de referencia"
          },
          "reference_reason": {
            "type": "string",
            "description": "Razón de referencia. Para notas de crédito totales debe ser 'ANULA DOCUMENTO DE LA REFERENCIA'.",
            "example": "ANULA DOCUMENTO DE LA REFERENCIA"
          },
          "dte_type_code": {
            "type": "string",
            "description": "Código del tipo de DTE del documento referenciado"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del lote"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Índice del documento en el array original"
                },
                "document_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "ID único del documento creado (UUID)"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "created",
                    "invalid"
                  ],
                  "description": "Estado de la creación del documento"
                },
                "errors": {
                  "type": "object",
                  "description": "Errores de validación si el estado es 'invalid'"
                }
              }
            }
          }
        }
      },
      "DocumentListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Número total de documentos"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL de la siguiente página"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL de la página anterior"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          }
        }
      },
      "DocumentDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único del documento"
          },
          "folio": {
            "type": "string",
            "description": "Número de folio del documento",
            "nullable": true
          },
          "date_issued": {
            "type": "string",
            "format": "date",
            "description": "Fecha de emisión del documento"
          },
          "amount_with_iva": {
            "type": "number",
            "format": "float",
            "description": "Monto total con IVA"
          },
          "dte_type_code": {
            "type": "string",
            "description": "Código del tipo de DTE (ej: \"33\" para Factura Electrónica)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación del registro (ISO 8601)"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de última actualización (ISO 8601)"
          }
        }
      },
      "DocumentDetailWithFiles": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentDetail"
          },
          {
            "type": "object",
            "properties": {
              "amount_iva": {
                "type": "number",
                "format": "float",
                "description": "Monto del IVA",
                "nullable": true
              },
              "amount_without_iva": {
                "type": "number",
                "format": "float",
                "description": "Monto sin IVA",
                "nullable": true
              },
              "currency": {
                "type": "string",
                "description": "Moneda del documento",
                "enum": [
                  "CLP",
                  "UF",
                  "USD",
                  "EUR"
                ],
                "example": "CLP"
              },
              "sender_id": {
                "type": "integer",
                "description": "ID de la entidad emisora"
              },
              "sender_name": {
                "type": "string",
                "description": "Nombre de la entidad emisora"
              },
              "sender_tax_id": {
                "type": "string",
                "description": "RUT de la entidad emisora"
              },
              "receiver_id": {
                "type": "string",
                "description": "ID de la entidad receptora (como string, puede ser null para algunos tipos de documentos)",
                "nullable": true
              },
              "receiver_name": {
                "type": "string",
                "description": "Nombre de la entidad receptora",
                "nullable": true
              },
              "receiver_tax_id": {
                "type": "string",
                "description": "RUT de la entidad receptora",
                "nullable": true
              },
              "has_credit_note": {
                "type": "boolean",
                "description": "Indica si el documento tiene una nota de crédito asociada"
              },
              "is_paid": {
                "type": "boolean",
                "description": "Indica si el documento está marcado como pagado"
              },
              "json_param": {
                "type": "object",
                "additionalProperties": true,
                "description": "Parámetros JSON almacenados del documento",
                "nullable": true
              },
              "traces": {
                "type": "array",
                "description": "Array de trazas de envío al SII",
                "items": {
                  "type": "object"
                }
              },
              "trace_update_log": {
                "type": "object",
                "description": "Log de actualización de trazas",
                "nullable": true
              },
              "document_states": {
                "type": "array",
                "description": "Array de estados del documento (rechazado, con NC, acuse, pagado, mérito ejecutivo)",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Etiqueta del estado"
                    },
                    "description": {
                      "type": "string"
                    },
                    "state_type": {
                      "type": "string",
                      "description": "Tipo de estado del documento"
                    }
                  }
                }
              },
              "vat_withheld": {
                "type": "boolean",
                "description": "Indica si se retuvo IVA",
                "nullable": true
              },
              "exchange_rate": {
                "type": "string",
                "description": "Tipo de cambio para facturas internacionales",
                "nullable": true
              },
              "original_amount": {
                "type": "string",
                "description": "Monto original en moneda extranjera para facturas internacionales",
                "nullable": true
              },
              "state": {
                "type": "string",
                "description": "Estado del documento (draft, issued, etc.)",
                "nullable": true
              },
              "dte_type_description": {
                "type": "string",
                "description": "Descripción del tipo de DTE"
              },
              "pdf": {
                "type": "string",
                "format": "uri",
                "description": "URL presignada al PDF del documento (válida por tiempo limitado, generalmente 1 hora)",
                "nullable": true
              },
              "xml": {
                "type": "string",
                "description": "Contenido completo del XML del documento tributario electrónico",
                "nullable": true
              },
              "xml_error": {
                "type": "string",
                "description": "Mensaje de error si no se pudo obtener el XML (null si está disponible)",
                "nullable": true
              },
              "has_trace": {
                "type": "boolean",
                "description": "true si el documento tiene trazas de envío al SII, false en caso contrario"
              },
              "latest_trace_info": {
                "type": "object",
                "description": "Información de la última traza disponible (estado de envío, fecha, etc.)",
                "nullable": true,
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Estado de la traza",
                    "example": "accepted"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Fecha y hora de la traza",
                    "example": "2024-01-15T10:35:00Z"
                  },
                  "description": {
                    "type": "string",
                    "example": "Documento aceptado por el SII"
                  }
                }
              },
              "references": {
                "type": "array",
                "description": "Array de documentos referenciados (para notas de crédito, etc.)",
                "items": {
                  "$ref": "#/components/schemas/ReferenceItem"
                }
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Código de error",
            "example": "VALIDATION_ERROR",
            "enum": [
              "VALIDATION_ERROR",
              "AUTHENTICATION_ERROR",
              "AUTHORIZATION_ERROR",
              "NOT_FOUND",
              "SII_ERROR",
              "INTERNAL_ERROR"
            ]
          },
          "message": {
            "type": "string",
            "description": "Mensaje de error"
          }
        }
      },
      "MasterEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único de la entidad maestra",
            "example": 371
          },
          "tax_id": {
            "type": "string",
            "description": "RUT de la entidad maestra",
            "example": "76.798.398-0"
          },
          "name": {
            "type": "string",
            "description": "Razón social de la entidad",
            "example": "SUPLO SPA"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico de contacto",
            "nullable": true,
            "example": null
          },
          "addresses": {
            "type": "array",
            "description": "Lista de direcciones de la entidad",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "ID único de la dirección",
                  "example": 6
                },
                "address": {
                  "type": "string",
                  "description": "Dirección completa",
                  "example": "AV TAJAMAR 183 OF 401   OFIC"
                },
                "district": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID único de la comuna",
                      "example": 7
                    },
                    "name": {
                      "type": "string",
                      "description": "Nombre de la comuna",
                      "example": "LAS CONDES"
                    },
                    "city": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID único de la ciudad",
                          "example": 3
                        },
                        "name": {
                          "type": "string",
                          "description": "Nombre de la ciudad",
                          "example": "SANTIAGO"
                        }
                      }
                    }
                  }
                },
                "sii_branch_code": {
                  "type": "string",
                  "description": "Código de sucursal SII",
                  "nullable": true,
                  "example": null
                },
                "phone": {
                  "type": "string",
                  "description": "Teléfono de la sucursal",
                  "nullable": true,
                  "example": null
                }
              }
            }
          },
          "activities": {
            "type": "array",
            "description": "Lista de actividades económicas de la entidad",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "ID único de la actividad",
                  "example": 1
                },
                "code": {
                  "type": "string",
                  "description": "Código de actividad económica",
                  "example": "620900"
                },
                "name": {
                  "type": "string",
                  "description": "Nombre de la actividad económica",
                  "example": "OTRAS ACTIVIDADES DE TECNOLOGIA DE LA IN"
                }
              }
            }
          }
        }
      },
      "ScheduledDocumentListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total de documentos programados",
            "example": 25
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL de la siguiente página",
            "example": "https://api.tupana.ai/v1/scheduled-documents?master_entity_id=123&page=2"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL de la página anterior",
            "example": null
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduledDocument"
            }
          }
        }
      },
      "ScheduledDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único del documento programado",
            "example": 789
          },
          "sender": {
            "type": "object",
            "description": "Información de la entidad emisora",
            "properties": {
              "id": {
                "type": "integer",
                "example": 123
              },
              "name": {
                "type": "string",
                "example": "Empresa Ejemplo SpA"
              },
              "rut": {
                "type": "string",
                "example": "76543210-1"
              }
            }
          },
          "receiver": {
            "type": "object",
            "nullable": true,
            "description": "Información de la entidad receptora",
            "properties": {
              "id": {
                "type": "integer",
                "example": 456
              },
              "name": {
                "type": "string",
                "example": "Cliente ABC Ltda"
              },
              "rut": {
                "type": "string",
                "example": "12345678-9"
              }
            }
          },
          "dte_type": {
            "type": "object",
            "description": "Tipo de documento tributario",
            "properties": {
              "id": {
                "type": "integer",
                "example": 1
              },
              "code": {
                "type": "string",
                "example": "33"
              },
              "description": {
                "type": "string",
                "example": "Factura Electrónica"
              }
            }
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly",
              "quarterly"
            ],
            "description": "Frecuencia de ejecución",
            "example": "monthly"
          },
          "frequency_display": {
            "type": "string",
            "description": "Frecuencia en formato legible",
            "example": "Mensual"
          },
          "day_of_month": {
            "type": "integer",
            "nullable": true,
            "description": "Día del mes para ejecución (1-31)",
            "example": 15
          },
          "day_of_week": {
            "type": "integer",
            "nullable": true,
            "description": "Día de la semana para ejecución (0=Lunes, 6=Domingo)",
            "example": null
          },
          "next_execution": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora de la próxima ejecución",
            "example": "2024-02-15T10:00:00Z"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "completed"
            ],
            "description": "Estado del documento programado",
            "example": "active"
          },
          "status_display": {
            "type": "string",
            "description": "Estado en formato legible",
            "example": "Activo"
          },
          "amount": {
            "type": "number",
            "description": "Monto del documento",
            "example": 100000
          },
          "currency": {
            "type": "string",
            "enum": [
              "CLP",
              "UF",
              "USD",
              "EUR"
            ],
            "description": "Moneda del documento",
            "example": "CLP"
          },
          "completed_occurrences": {
            "type": "integer",
            "description": "Número de veces que se ha ejecutado",
            "example": 5
          },
          "max_occurrences": {
            "type": "integer",
            "nullable": true,
            "description": "Número máximo de ejecuciones",
            "example": null
          },
          "details": {
            "type": "array",
            "description": "Detalles/productos del documento",
            "items": {
              "$ref": "#/components/schemas/ScheduledDocumentDetail"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación",
            "example": "2024-01-15T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de última actualización",
            "example": "2024-01-20T15:30:00Z"
          }
        }
      },
      "ScheduledDocumentCreate": {
        "type": "object",
        "required": [
          "sender",
          "dte_type",
          "frequency",
          "details",
          "receiver_tax_id"
        ],
        "properties": {
          "sender": {
            "type": "integer",
            "description": "ID de la entidad maestra emisora (obligatorio)",
            "example": 123
          },
          "dte_type": {
            "type": "string",
            "description": "Código del tipo de DTE (ej: '33' para Factura Electrónica)",
            "example": "33"
          },
          "receiver_tax_id": {
            "type": "string",
            "description": "RUT del receptor (formato: 12345678-9). El sistema buscará un cliente existente con este RUT. Si no existe, creará uno nuevo automáticamente. Campo requerido.",
            "example": "12345678-9"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly",
              "quarterly"
            ],
            "description": "Frecuencia de ejecución",
            "example": "monthly"
          },
          "day_of_month": {
            "type": "integer",
            "description": "Día del mes para ejecución (1-31, requerido para frecuencia mensual/trimestral)",
            "minimum": 1,
            "maximum": 31,
            "example": 15
          },
          "day_of_week": {
            "type": "integer",
            "description": "Día de la semana para ejecución (0=Lunes, 6=Domingo, requerido para frecuencia semanal)",
            "minimum": 0,
            "maximum": 6,
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "Moneda del documento",
            "enum": [
              "CLP",
              "UF",
              "USD",
              "EUR"
            ],
            "default": "CLP",
            "example": "CLP"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ],
            "description": "Estado inicial del documento programado",
            "default": "active",
            "example": "active"
          },
          "max_occurrences": {
            "type": "integer",
            "description": "Número máximo de ejecuciones (opcional, null = infinito)",
            "minimum": 1,
            "example": 12
          },
          "details": {
            "type": "array",
            "description": "Detalles/productos del documento",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ScheduledDocumentDetailCreate"
            }
          }
        }
      },
      "ScheduledDocumentUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ],
            "description": "Estado del documento programado",
            "example": "inactive"
          },
          "amount": {
            "type": "number",
            "description": "Monto total del documento",
            "minimum": 0,
            "example": 120000
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly",
              "quarterly"
            ],
            "description": "Frecuencia de ejecución",
            "example": "weekly"
          },
          "day_of_month": {
            "type": "integer",
[...]
